@{
    Layout = "~/Views/Shared/Layoutweb.cshtml";
}


<link href="~/Content/css/style.css" rel="stylesheet" />
<div class="content-section col-md">
    
    
        
        <h1>Accommodation</h1>
        
        <p>Details of nearby hotels along with their discounted tariff are available hereunder. Authors / Delegates are requested to kindly contact them directly for booking of accommodation as per their arrival / departure schedule and request for the <strong>applicable special discount</strong> on behalf of <strong>Bharati Vidyapeeth, New Delhi (INDIA)</strong> on account of <strong>INDIACom -2024</strong>. <span class="style1">As a <strong>special case for international participants</strong>, on advance payment basis, accommodation can be provided, by our Local Organizing Committee, at subsidized rates, at India International Centre (IIC), Lodi Road, New Delhi </span>and nearby hotels, based on the request. For more information e-mail us at  <a href="mailto:indiacom2024@bvicam.in">indiacom2024@bvicam.in</a>.</p>
       
    
    <div class="customTable">
        <table class="customTable-main">
            <thead>
                <tr class="customTable-header">
                    <th class="customTable-track">S. No.</th>
                    <th class="customTable-theme">Hotel Name & Contact Information</th>
                    <th class="customTable-track">Category</th>
                    <th class="customTable-track">Tariff (in INR)</th>
                    <th class="customTable-track">Distance from Venue (in KM)</th>
                </tr>
            </thead>
            <tbody>
                <tr class="customTable-row">
                    <td class="customTable-track">1</td>
                    <td class="customTable-theme"><strong>RADISSON BLU</strong><br>Plot No. D, District Centre<br>Outer Ring Road, Paschim Vihar, New Delhi-110063<br><strong>Ph:</strong> +91-11-46399999<br><strong>Web:</strong> <a href="http://www.radissonblu.com">www.radissonblu.com</a><br><strong>Email:</strong> <a href="mailto:dosm@rdpvdelhi.com">dosm@rdpvdelhi.com</a></td>
                    <td class="customTable-track">5 Star</td>
                    <td class="customTable-track">4,400-15,000 (+Taxes)</td>
                    <td class="customTable-track">3</td>
                </tr>
                <tr>
                    <td class="customTable-track">2</td>
                    <td class="customTable-theme"><strong>CITY PARK</strong><br>Pitam Pura, New Delhi-110088<br><strong>Ph:</strong> +91-11-42310101<br><strong>Mobile:</strong> +91-9871390472<br><strong>Web:</strong> <a href="http://www.hotelcitypark.in">www.hotelcitypark.in</a>, <a href="http://www.hotelcitypark.com">www.hotelcitypark.com</a><br><strong>Email:</strong> <a href="mailto:hotelcitypark@vsnl.net">hotelcitypark@vsnl.net</a></td>
                    <td class="customTable-track">4 Star Deluxe</td>
                    <td class="customTable-track">4,500-14,000 (+Taxes)</td>
                    <td class="customTable-track">10</td>
                </tr>
                <tr class="customTable-row">
                    <td class="customTable-track">3</td>
                    <td class="customTable-theme"><strong>SWIFT INN</strong><br>397, Bhera Enclave, Paschim Vihar<br>Opp. Behera Enclave Round Circle, New Delhi-110087<br><strong>Ph:</strong> +91-11-41557348<br><strong>Mobile:</strong> +91-9716104200<br><strong>Web:</strong> <a href="http://www.hotelswiftinn.in">www.hotelswiftinn.in</a><br><strong>Email:</strong> <a href="mailto:hotelswiftinn@yahoo.com">hotelswiftinn@yahoo.com</a></td>
                    <td class="customTable-track">3 Star</td>
                    <td class="customTable-track">2,500-2,800 (+Taxes)</td>
                    <td class="customTable-track">2</td>
                </tr>
                <tr>
                    <td class="customTable-track">4</td>
                    <td class="customTable-theme"><strong>AMAN PALACE</strong><br>A-40, Vishal Enclave, Rajouri Garden<br>Opp. TDI Mall, New Delhi – 110027<br><strong>Ph:</strong> +91-11-25921555, +91-11-25113555<br><strong>Web:</strong> <a href="http://www.hotelamanpalace.com">www.hotelamanpalace.com</a><br><strong>Email:</strong> <a href="mailto:reservation@hotelamanpalace.com">reservation@hotelamanpalace.com</a></td>
                    <td class="customTable-track">3 Star</td>
                    <td class="customTable-track">1,503-2,254 (+Taxes)</td>
                    <td class="customTable-track">3</td>
                </tr>
                <tr class="customTable-row">
                    <td class="customTable-track">5</td>
                    <td class="customTable-theme"><strong>AMAN DELUXE</strong><br>A-30-31, Vishal Enclave, Rajouri Garden<br>Opp. Vishal Cinema, New Delhi – 110027<br><strong>Ph:</strong> +91-11-45702658, +91-11-45024327<br><strong>Mobile:</strong> +91-9555104555<br><strong>Web:</strong> <a href="http://www.hotelamandeluxe.com">www.hotelamandeluxe.com</a><br><strong>Email:</strong> <a href="mailto:hotelamandeluxe@gmail.com">hotelamandeluxe@gmail.com</a></td>
                    <td class="customTable-track">3 Star</td>
                    <td class="customTable-track">2,304-3,465 (+Taxes)</td>
                    <td class="customTable-track">3</td>
                </tr>
                <tr>
                    <td class="customTable-track">6</td>
                    <td class="customTable-theme"><strong>SWATI</strong><br>25, Paschim Vihar Extension<br>Opp. Metro Pillar No. 195, New Delhi-110063<br><strong>Ph:</strong> +91-11-25218000<br><strong>Mobile:</strong> +91-9211727127<br><strong>Web:</strong> <a href="http://www.swatihotels.com">www.swatihotels.com</a><br><strong>Email:</strong> <a href="mailto:paschimvihar@hotelswati.com">paschimvihar@hotelswati.com</a></td>
                    <td class="customTable-track">3 Star</td>
                    <td class="customTable-track">2,500-5,000 (+Taxes)</td>
                    <td class="customTable-track">Walk-In</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
