@{
    Layout = "~/Views/Shared/Layoutweb.cshtml";
}
<link href="~/Content/css/style.css" rel="stylesheet" />
    <div class="content-section col-md">
        
            <h1>Advisory Committee</h1>
            <ul class="transitionList">
                <li>Prof. K. K. Aggarwal, Chairman, National Board of Accreditation (NBA) and Former Founder Vice Chancellor, GGSIP University, New Delhi (INDIA)</li>
                <li>Prof. S. V. Raghavan, IIT, Madras (INDIA)</li>
                <li>Prof. Yogesh Singh, VC, Delhi University, Delhi (INDIA)</li>
                <li>Prof. Afshar Alam, VC, Jamia Hamdard, New Delhi (INDIA)</li>
                <li>Dr. Amita Dev, Vice Chancellor, IGDTU, Delhi (INDIA)</li>
                <li>Prof. A. R. Bhalerao, VC, Central University of Rajasthan, Ajmer (INDIA)</li>
                <li>Prof. Sunder Lal, Former VC, VBSPU, Jaunpur (INDIA)</li>
                <li>Prof. Subrata Mukhopadhyay, IEEE Delhi Section (INDIA)</li>
                <li>Prof. P. K. Desai, President, ISTE, New Delhi (INDIA)</li>
                <li>Prof. Shiban K. Koul, Fellow, IEEE and IIT Delhi (INDIA)</li>
                <li>Prof. Hamid R. Arabnia, University of Georgia, Georgia (USA)</li>
                <li>Prof. S. Pal, Vice Chancellor, Defense Institute of Advanced Technologies, Pune (INDIA)</li>
                <li>Prof. Guy Pujolle, University of France (FRANCE)</li>
                <li>Prof. Om Vikas, IEEE Delhi Section (INDIA)</li>
                <li>Prof. Vijay K. Vaishnavi, IEEE Life Fellow, Georgia State University (USA)</li>
                <li>Shri Rajat M. Nag, Asian Development Bank, Manila (PHILIPPINES)</li>
                <li>Prof. O. P. Vyas, IIIT, Allahabad (INDIA)</li>
                <li>Prof. B. S. Chowdhry, Mehran University of Engineering & Technology, Jamshoro (PAKISTAN)</li>
                <li>Prof. Ken Surendran, Southeast Missouri State University, Cape Girardeau (USA)</li>
                <li>Prof. S. A. Abbasi, King Saud University (KSA)</li>
                <li>Prof. Subramaniam Ganesan, Oakland University, Rochester (USA)</li>
                <li>Prof. Ashok K. Agrawala, University of Maryland, Maryland (U.S.A.)</li>
                <li>Dr. Ashoke Ghosh, President (DS), GrapeCity, Noida (INDIA)</li>
                <li>Shri Vishnu Dusad, Managing Director, Nucleus Software Exports Ltd., New Delhi (INDIA)</li>
            </ul>
        
    </div>


