@{
    Layout = "~/Views/Shared/Layoutweb.cshtml";
}
<link href="~/Content/css/style.css" rel="stylesheet" />
<div class="content-section col-md">
 

    @*<div style="width: 100%; max-width: 80%; margin:0px 20px; padding: 20px; background-color: white; border-radius: 8px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);">*@
        <h1>Chairs and Co-Chairs</h1>
        <br />
        <br />
        <div style="margin-bottom: 20px; text-align: center;">
            <h2 style="color: red; font-weight: bold; margin: 0 0 10px 0;">Chief Patron</h2>
            <p style="margin: 0;">
                <b>Prof. (Dr.) Shivajiraoji Kadam</b><br> Chancellor<br> Bharati Vidyapeeth (Deemed to be University)<br> Pune, Maharashtra (INDIA)
            </p>
        </div>

        <div style="margin-bottom: 20px; text-align: center;">
            <h2 style="color: red; font-weight: bold; margin: 0 0 10px 0;">Patron</h2>
            <p style="margin: 0;">
                <b>Dr. Vishwajit Kadam</b><br> Secretary,<br> Member of Legislative Assembly, Govt. of Maharashtra, Maharashtra (INDIA)<br> Bharati Vidyapeeth, Pune, Maharashtra (INDIA)
            </p>
        </div>

        <div style="margin-bottom: 20px; text-align: center;">
            <h2 style="color: red; font-weight: bold; margin: 0 0 10px 0;">Honorary Conference Chair</h2>
            <p style="margin: 0;">
                <b>Prof. Madan Gupta</b><br> IEEE Life Fellow<br> Director, Intelligent Systems Research Laboratory<br> University of Saskatchewan, Saskatoon, Saskatchewan (CANADA)
            </p>
        </div>

        <div style="display: flex; justify-content: space-around; margin-bottom: 20px;">
            <div style="text-align: center;">
                <h2 style="color: red; font-weight: bold; margin: 0 0 10px 0;">General Chair</h2>
                <p style="margin: 0;"><b>Prof. M. N. Hoda</b><br> BVICAM, <br />New Delhi (INDIA)</p>
            </div>

            <div style="text-align: center;">
                <h2 style="color: red; font-weight: bold; margin: 0 0 10px 0;">Conference Chair</h2>
                <p style="margin: 0;"><b>Prof. A. K. Saini</b><br> USMS, GGSIP University,<br /> New Delhi (INDIA)</p>
            </div>
        </div>

        <div style="margin-bottom: 20px; text-align: center;">
            <h2 style="color: red; font-weight: bold; margin: 0 0 10px 0;">Conference Co-chairs</h2>
        </div>

        <div style="margin-bottom: 20px; display: flex; flex-wrap: wrap; justify-content: space-between;">
            <div style="flex: 1; text-align: center; margin-right: 20px;">
                <b>Prof. Vibhakar Mansotra</b><br> Jammu University, <br /> Jammu (INDIA)
            </div>
            <div style="flex: 1; text-align: center; margin-right: 20px;">
                <b>Dr. Ashish Agarwal</b><br> Boston University, <br />Boston (USA)
            </div>
            <div style="flex: 1; text-align: center; margin-right: 20px;">
                <b>Dr. Khaled Ahmed Abood Omer</b><br> University of Aden, <br />Aden (YEMEN)
            </div>
            <div style="flex: 1; text-align: center;">
                <b>Prof. S. M. K. Quadri</b><br> Jamia Millia Islamia, <br />New Delhi (INDIA)
            </div>
        </div>

        <div style="margin-bottom: 20px; text-align: center;">
            <h2 style="color: red; font-weight: bold; margin: 0 0 10px 0;">Technical Programme Committee (TPC) Chair</h2>
            <p style="margin: 0;">
                <b>Prof. M. N. Doja</b><br> Director, IIIT, Sonipat, Haryana (INDIA)
            </p>
        </div>
        <div style="margin-bottom: 20px; text-align: center;">
            <h2 style="color: red; font-weight: bold; margin: 0 0 10px 0;">TPC Co-chairs</h2>
        </div>

        <div style="margin-bottom: 20px; display: flex; flex-wrap: wrap; justify-content: space-between;">
            <div style="flex: 1; text-align: center; margin-right: 20px;">
                <b>Dr. Fahim Mohammad</b><br> Harvard University, <br />Boston (USA)
            </div>
            <div style="flex: 1; text-align: center; margin-right: 20px;">
                <b>Dr. Ritika Wason</b><br> BVICAM, <br />New Delhi (INDIA)
            </div>
            <div style="flex: 1; text-align: center; margin-right: 20px;">
                <b>Prof. D. K. Lobiyal</b><br> SCSS, JNU, <br />New Delhi (INDIA)
            </div>
            <div style="flex: 1; text-align: center;">
                <b>Prof. M. U. Bokhari</b><br> DCS, AMU, <br />Aligarh (INDIA)
            </div>
        </div>

        <div style="display: flex; justify-content: space-around; margin-bottom: 20px;">
            <div style="text-align: center; margin-right: 20px;">
                <h2 style="color: red; font-weight: bold; margin: 0 0 10px 0;">Publication Chair</h2>
                <p style="margin: 0;">
                    <b>Dr. Sunil Pratap Singh</b><br> BVICAM, <br />New Delhi (INDIA)
                </p>
            </div>

            <div style="text-align: center; margin-right: 20px;">
                <h2 style="color: red; font-weight: bold; margin: 0 0 10px 0;">Finance Chair</h2>
                <p style="margin: 0;">
                    <b>Dr. Dharmendra Saini</b><br> BVCOE, <br />New Delhi (INDIA)
                </p>
            </div>

            <div style="text-align: center;">
                <h2 style="color: red; font-weight: bold; margin: 0 0 10px 0;">Publicity Chair</h2>
                <p style="margin: 0;">
                    <b>Dr. Rakhee</b><br> BVICAM, <br />New Delhi (INDIA)
                </p>
            </div>
        </div>

        <div style="display: flex; justify-content: space-around; margin-bottom: 20px;">
            <div style="text-align: center; margin-right: 20px;">
                <h2 style="color: red; font-weight: bold; margin: 0 0 10px 0;">Local Organizing Chair</h2>
                <p style="margin: 0;">
                    <b>Dr. Parul Arora</b><br> BVICAM, <br />New Delhi (INDIA)
                </p>
            </div>

            <div style="text-align: center;">
                <h2 style="color: red; font-weight: bold; margin: 0 0 10px 0;">Web Administration Chair</h2>
                <p style="margin: 0;">
                    <b>Ms. Ambooj</b><br> BVICAM, <br />New Delhi (INDIA)
                </p>
            </div>
        </div>
    </div>



