@{
    Layout = "~/Views/Shared/Layoutweb.cshtml";
}
    @*remove inline css*@
    @*remove inline css*@
    @*remove inline css*@
    @*remove inline css*@

<link href="~/Content/css/style.css" rel="stylesheet" />
<div class="content-section col-md">
    <td width="600" style="background-attachment: scroll; background-image: url('indiacom-link.jpg'); background-repeat: no-repeat; padding: 5px; background-position: center 50%" valign="top" class="content">
        <h1 class="generalHead" style="margin-bottom: 0">Conference Secretariat</h1>
        <br>
        <h5 align="center" style="margin-top: 0">Important Contacts for Authors / Delegates <br> <!--span style="font-size:10px">(for INDIACom-2021)</span--></h5>
        <br>

        <table width="100%" border="1" bordercolor="#FFFFFF" cellspacing="0">
            <tbody>
                <tr bgcolor="#292990" style="color:#FFFFFF;font-weight:bold;text-align:center;font-size:14px">
                    <td width="6%">S. No.</td>
                    <td width="44%"><div align="center">Functions / Purposes</div></td>
                    <td width="50%"><div align="center">Contact Details</div></td>
                </tr>

                <tr style="background-color: #EEEEEE">
                    <td height="132" align="center">1. </td>
                    <td class="generalTxt" style="padding-left:5px">
                        <strong>Track # 01 Incharge:</strong><br>
                        For all queries (like Plagiarism report, Review &amp; Acceptance Status, Registration &amp; Publication, etc.) related to papers submitted in Track # 01 <strong>(Sustainable Computing) </strong>
                    </td>
                    <td align="center" style="padding-left:10px">
                        <div class="plaintxt">
                            <p align="left">
                                <b>Dr. Parul Arora</b><br>
                                Tel.: +91-11-25275055<br>
                                Mobile: +91-7678269988<br>
                                E-Mail: <a href="mailto:track1.indiacom@gmail.com">track1.indiacom@gmail.com</a>;<br>
                                <a href="mailto:indiacom@gmail.com">indiacom@bvicam.in</a><br>
                                <a href="mailto:conference@bvicam.ac.in">conference@bvicam.ac.in</a>;
                            </p>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td height="132" align="center">2. </td>
                    <td class="generalTxt" style="padding-left:5px">
                        <strong>Track # 02 Incharge:</strong><br>
                        For all queries (like Plagiarism report, Review &amp; Acceptance Status, Registration &amp; Publication, etc.) related to papers submitted in Track # 02 <strong>(High Performance Computing)</strong>
                    </td>
                    <td align="center" style="padding-left:10px">
                        <div class="plaintxt">
                            <p align="left">
                                <b>Dr. Rakhee Sharma</b><br>
                                Tel.: +91-11-25275055<br>
                                Mobile: +91-9873632150<br>
                                E-Mail: <a href="mailto: track2.indiacom@gmail.com">track2.indiacom@gmail.com</a>;<br>
                                <a href="mailto:indiacom@bvicam.in">indiacom@bvicam.in</a><br>
                                <a href="mailto:conference@bvicam.ac.in">conference@bvicam.ac.in</a>;<br>
                            </p>
                        </div>
                    </td>
                </tr>

                <tr style="background-color: #EEEEEE">
                    <td height="135" align="center">3. </td>
                    <td class="generalTxt" style="padding-left:5px">
                        <strong>Track # 03 Incharge:</strong><br>
                        For all queries (like Plagiarism report, Review &amp; Acceptance Status, Registration &amp; Publication, etc.) related to papers submitted in Track # 03 <strong>(High Speed Networking and Information Security)</strong>
                    </td>
                    <td align="center" style="padding-left:10px">
                        <div class="plaintxt">
                            <p align="left">
                                <b>Dr. Arpita Nagpal</b><br>
                                Tel.: +91-11-25275055<br>
                                Mobile: +91-9999652200<br>
                                E-Mail: <a href="mailto:track3.indiacom@gmail.com">track3.indiacom@gmail.com</a>;<br>
                                <a href="mailto:indiacom@bvicam.in">indiacom@bvicam.in</a><br>
                                <a href="mailto:conference@bvicam.ac.in">conference@bvicam.ac.in</a>;<br>
                            </p>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td height="156" align="center">4. </td>
                    <td class="generalTxt" style="padding-left:5px">
                        <strong>Track # 04 Incharge:</strong><br>
                        For all queries (like Plagiarism report, Review &amp; Acceptance Status, Registration &amp; Publication, etc.) related to papers submitted in Track # 04 <strong>(Software Engineering and Emerging Technologies)</strong>
                    </td>
                    <td align="center" style="padding-left:10px">
                        <div class="plaintxt">
                            <p align="left">
                                <b>Dr. Saumya Bansal</b><br>
                                Tel.: +91-11-25275055<br>
                                Mobile: +91- 9953233505<br>
                                E-Mail: <a href="mailto:track4.indiacom@gmail.com">track4.indiacom@gmail.com</a>;<br>
                                <a href="mailto:indiacom@bvicam.in">indiacom@bvicam.in</a><br>
                                <a href="mailto:conference@bvicam.ac.in">conference@bvicam.ac.in</a>;<br>
                            </p>
                        </div>
                    </td>
                </tr>

                <!--tr style="background-color: #EEEEEE">
                <td height="132" align="center">5. </td>
                <td class="generalTxt" style="padding-left:5px"><strong>Track # 05 Incharge:</strong><br/>
                    For all queries (like Plagiarism report, Review & Acceptance Status, Registration & Publication, etc.) related to papers submitted in Track # 05 <strong>(9<sup>th</sup> International Conference on  Information
                    Engineering and  Management (ICIEM-2025))</strong>
                </td>
                <td align="center" style="padding-left:10px">
                    <div class="plaintxt" >
                        <p align="left"><b>Dr. Sunil Pratap Singh</b></strong><br/>
                            Tel.: +91-11-25275055<br>
                            Mobile: +91-8630340857<br/>
                            E-Mail: <a href="mailto:track5.indiacom@gmail.com">track5.indiacom@gmail.com</a>;<br>
                            <a href="mailto:indiacom@bvicam.in">indiacom@bvicam.in</a><br>
                            <a href="mailto:conference@bvicam.ac.in">conference@bvicam.ac.in</a>;
                        </p>
                    </div>
                </td>
            </tr-->

                <tr style="background-color: #EEEEEE">
                    <td align="center">6.</td>
                    <td class="generalTxt" style="padding-left:5px">For customized Acceptance Letter, Invitation Letter,  Government Approval &amp; Visa related queries</td>
                    <td align="center" style="padding-left:10px">
                        <div class="plaintxt">
                            <p align="left">
                                <b>Dr. Sunil Pratap Singh</b><br>
                                Tel.: +91-11-25275055<br>
                                Mobile: +91-8630340857<br>
                                E-Mail: <a href="mailto:letters.indiacom@gmail.com">letters.indiacom@gmail.com</a>;<br>
                                <a href="mailto:indiacom@bvicam.in">indiacom@bvicam.in</a>;<br>
                                <a href="mailto:conference@bvicam.ac.in">conference@bvicam.ac.in</a>
                            </p>
                            <p><br></p>
                        </div>
                    </td>
                </tr>


                <tr>
                    <td align="center">7.</td>
                    <td class="generalTxt" style="padding-left:5px">For Website related queries</td>
                    <td align="center" style="padding-left:10px">
                        <div class="plaintxt">
                            <p align="left">
                                <b>Ms. Ambooj &amp; Ms. Preeti Rai</b><br>
                                Tel.: +91-11-25275055<br>
                                Mobile: +91-8076546858, <br>+91-7533060564<br>
                                E-Mail: <a href="mailto:webmaster@bvicam.in">webmaster@bvicam.in</a>;<br>
                                <a href="mailto:indiacom@bvicam.in">indiacom@bvicam.in</a>;<br>
                                <a href="mailto:conference@bvicam.ac.in">conference@bvicam.ac.in</a>
                            </p>
                            <p><br></p>
                        </div>
                    </td>
                </tr>


                <tr style="background-color: #EEEEEE">
                    <td align="center">8.</td>
                    <td class="generalTxt" style="padding-left:5px">For Payment confirmation related queries</td>
                    <td align="center" style="padding-left:10px">
                        <div class="plaintxt">
                            <p align="left">
                                <b>Dr. Sunil Pratap Singh</b><br>
                                Tel.: +91-11-25275055<br>
                                Mobile: +91-8630340857<br>
                                E-Mail: <a href="mailto:payments.indiacom@gmail.com">payments.indiacom@gmail.com</a>;<br>
                                <a href="mailto:indiacom@bvicam.in">indiacom@bvicam.in</a>;<br>
                                <a href="mailto:conference@bvicam.ac.in">conference@bvicam.ac.in</a>
                            </p>
                            <p><br></p>
                        </div>
                    </td>
                </tr>


                <tr>
                    <td align="center">9.</td>
                    <td class="generalTxt" style="padding-left:5px">Other Queries of <strong>Special Session  Chairpersons / Conveners</strong></td>
                    <td align="center" style="padding-left:10px">
                        <div class="plaintxt">
                            <p align="left">
                                <b>Dr. Sunil Pratap Singh </b><br>
                                Tel.: +91-11-25275055<br>
                                Mobile: +91-8630340857<br>
                                E-Mail: <a href="mailto:splsessions.indiacom@gmail.com">splsessions.indiacom@gmail.com</a>;<br>
                                <a href="mailto:indiacom@bvicam.in">indiacom@bvicam.in</a>;<br>
                                <a href="mailto:conference@bvicam.ac.in">conference@bvicam.ac.in</a>
                            </p>
                            <p><br></p>
                        </div>
                    </td>
                </tr>


                <tr style="background-color: #EEEEEE">
                    <td align="center">10.</td>
                    <td class="generalTxt" style="padding-left:5px">For Transport and Accommodation related queries</td>
                    <td align="center" style="padding-left:10px">
                        <div class="plaintxt">
                            <p align="left">
                                <b>Dr. Sunil Pratap Singh </b><br>
                                Tel.: +91-11-25275055<br>
                                Mobile: +91-8630340857<br>
                                E-Mail: <a href="mailto:hospitality.indiacom@gmail.com">hospitality.indiacom@gmail.com</a>;<br>
                                <a href="mailto:indiacom@bvicam.in">indiacom@bvicam.in</a>;<br>
                                <a href="mailto:conference@bvicam.ac.in">conference@bvicam.ac.in</a>
                            </p>
                            <p><br></p>
                        </div>
                    </td>
                </tr>


                <tr>
                    <td align="center">11.</td>
                    <td class="generalTxt" style="padding-left:5px">For queries related to Conference Schedule, Paper Presentation Schedule, Organizing Committee and Sponsorship Opportunities</td>
                    <td align="center" style="padding-left:10px">
                        <div class="plaintxt">
                            <p align="left">
                                <b>Dr. Sunil Pratap Singh </b><br>
                                Tel.: +91-11-25275055<br>
                                Mobile: +91-8630340857<br>
                                E-Mail: <a href="mailto:payments.indiacom@gmail.com"> schedule.indiacom@gmail.com</a>; <br>
                                <a href="mailto:indiacom@bvicam.in">indiacom@bvicam.in</a>;<br>
                                <a href="mailto:conference@bvicam.ac.in">conference@bvicam.ac.in</a>
                            </p>
                            <p><br></p>
                        </div>
                    </td>
                </tr>


                <tr style="background-color: #EEEEEE">
                    <td align="center">12.</td>
                    <td class="generalTxt" style="padding-left:5px">For other Queries</td>
                    <td align="center" style="padding-left:10px">
                        <div class="plaintxt">
                            <p align="left">
                                <b>Prof. M. N. Hoda</b><br>
                                Tel.: +91-11-25275055<br>
                                Mobile: +91-9212022066 <br>
                                E-Mail: <a href="mailto:mca@bvicam.ac.in">mca@bvicam.ac.in</a>;<br>
                                <a href="mailto:indiacom@bvicam.in">indiacom@bvicam.in</a>; <br>
                                <a href="mailto:conference@bvicam.ac.in">conference@bvicam.ac.in</a>
                            </p>
                            <p><br></p>
                        </div>
                    </td>
                </tr>


                <tr>
                    <td align="center" colspan="3">
                        <p></p>
                        <p style="text-align:center;font-size:12px">
                            All correspondences related to the conference, including registration forms, DDs etc.(if required to be sent) must be sent by speed post with the caption "<strong>INDIACom-2025</strong>" at the top centre
                            of the envelope, to the following address:-
                        </p>
                        <p style="text-align:center;font-size:12px">
                            <strong>Prof. M. N. Hoda</strong><br>
                            General Chair, INDIACom-2025<br>
                            Director, Bharati Vidyapeeth's Institute of Computer Applications and Management (BVICAM)<br>
                            A-4, Paschim Vihar, Rohtak Road, New Delhi - 110063 (INDIA) <br>
                            Tel.:+ 91-11-25275055, Fax:+ 91-11-25255056, Mobile: +91-9212022066 <br>
                            E-Mail: <a href="mailto:conference@bvicam.ac.in">conference@bvicam.ac.in</a>; <a href="mailto:mca.hoda@gmail.com">mca.hoda@gmail.com</a>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p >&nbsp;</p>
    </td>


</div>