@{
    Layout = "~/Views/Shared/Layoutweb.cshtml";
}
<link href="~/Content/css/style.css" rel="stylesheet" />



    <div class="content-section col-md">
        
        <h1>Call for Papers</h1>
        <p>
            <strong><em>INDIACom-2025</em></strong> is aimed to invite original research papers in the field of, primarily, Computer Science and Information Technology and, generally, all interdisciplinary streams of Engineering Sciences, having central focus on sustainable computing applications, which may be of use in enhancing the quality of human life and contribute effectively to realize the nations’ vision of sustainable inclusive development using Computing. <strong><em>INDIACom-2025</em></strong> will be an amalgamation of four different Tracks organized parallel to each other. Full length original and unpublished research papers based on theoretical or experimental contributions related to the following topics, but not limited to, are solicited for presentation and publication in the conference:-

            <div class="customTable">
                <table class="customTable-main">
                    <thead>
                        <tr class="customTable-header">
                            <th class="customTable-track">Track</th>
                            <th class="customTable-theme">Theme</th>
                            <th class="customTable-subtheme">Sub-Theme</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="customTable-track">Track 1</td>
                            <td class="customTable-theme">Sustainable Computing</td>
                            <td class="customTable-subtheme">
                                E-Waste Management,<br />
                                Renewable Energy Integration,<br />
                                Low-Power Computing Devices,<br />
                                Sustainable Software Engineering,<br />
                                Eco-Friendly Cloud Computing,<br />
                                Lifecycle Assessment of IT Products,<br />
                                Sustainable IT Infrastructure,<br />
                                Carbon Footprint Reduction in IT Computing
                            </td>
                        </tr>
                        <tr class="customTable-row">
                            <td class="customTable-track">Track 2</td>
                            <td class="customTable-theme">High Performance Computing</td>
                            <td class="customTable-subtheme">
                                Algorithms and Computational Mathematics,<br />
                                Changing Software Architectural Paradigms,<br />
                                Low-Power Computing Devices,<br />
                                Technology for Convergence,<br />
                                Fuzzy, Soft Computing and Nature-Inspired Computing,<br />
                                Modelling and Simulation
                            </td>
                        </tr>
                        <tr>
                            <td class="customTable-track">Track 3</td>
                            <td class="customTable-theme">High Speed Networking and Information Security</td>
                            <td class="customTable-subtheme">
                                Wireless Networking,<br />
                                Computer Networks and Information Security,<br />
                                Systems, Man, and Cybernetics,<br />
                                Computational Intelligence,<br />
                                Mobile Computing,<br />
                                Network Monitoring Tools,<br />
                                Information and Collaboration Systems
                            </td>
                        </tr>
                        <tr class="customTable-row">
                            <td class="customTable-track">Track 4</td>
                            <td class="customTable-theme">Software Engineering and Emerging Technologies</td>
                            <td class="customTable-subtheme">
                                Blockchain and Distributed Ledger Technologies,<br />
                                Artificial Intelligence and Machine Learning,<br />
                                Internet of Things (IoT) and Embedded Systems
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>




            <br />
<p>
            <strong>INDIACom-2025</strong> will be held at <strong>Bharati Vidyapeeth, New Delhi (INDIA)</strong>. The conference will provide a platform for technical exchanges within the research community  and will encompass regular paper presentation sessions, invited talks, key note addresses, panel discussions and poster exhibitions. In addition, the participants will be treated to a series of cultural activities, receptions and networking to establish new connections and foster everlasting friendship among fellow counterparts. The conference will also provide opportunity to the participants to visit some of the world’s famous tourist places in Delhi like Qutub Minar, Red Forte, Akshardham Temple, Lotus Temple, Jantar Mantar and Taj Mahal at Agra (around 200 KM from Delhi).


        </p>

        <h2>Paper Submission</h2>
        <p >

            Authors from across different parts of the world are invited to submit their papers.  Authors wishing to submit their papers must refer to the website, for paper structuring and formatting guidelines in detail, at   Technical Guidelines. Authors should submit their papers online at Submit Paper. Unregistered authors should first create an account on Add Member to log on and submit paper. Only electronic submissions will be considered. Papers submitted by e-mail will not be considered.

        </p>
        <h2> Review Process, Publication and Indexing</h2>
        <p>

            The conference aims at carrying out two rounds of review process. In the first round, the papers submitted by the authors will be assessed on the basis of their technical suitability, scope of work and plagiarism. The corresponding authors of qualifying submissions will be intimated for their papers to be double blind reviewed by three experts on the basis of originality, novelty, clarity, completeness, relevance, significance and research contribution. The shortlisted papers of all the tracks will be accepted for presentation and publication in the Soft Copy of Conference proceedings, on the website. <strong> INDIACom-2025</strong> has applied for<strong>  IEEE's Conference Publication Program</strong>. This means that all papers presented during the conference will be submitted for possible consideration and inclusion in<span style="color:red"> IEEE Xplore</span>  subject to their own quality check for publication and indexing, which is indexed with world’s leading <strong>Abstracting & Indexing (A&I)</strong> databases, including
            <span style= "color:red"> ISI, SCOPUS, DBLP, EI-Compendex, Google Scholar,</span> 
            etc. Extended version of the selected papers will also be recommended to be published in the following Journals:-

            <ol>
                <li><strong >International Journal of Information Technology (BJIT)</strong>, ISSN: 2511-2104 (Print Version); ISSN: 2511-2112 (Electronic Version), published by <span style="color:red">Springer Nature</span>, indexed at <span style="color:red">SCOPUS, DBLP, INSPEC, CNKI, OCLC, Google Scholar</span>, etc. and enlisted in the UGC List of approved Journals. Details of which is available at <a href=" https://www.editorialmanager.com/BJIT/default.aspx."> https://www.editorialmanager.com/BJIT/default.aspx.</a>.</li>

                <li><strong >Wireless Communications and Mobile Computing</strong>, ISSN - 1530-8669, published by Hindawi. Indexed at <span style="color:red">Web of Science, Scopus, SCIE, JCR</span>, etc. having its <span style="color:red">Impact Factor as 1.899</span> for 2016 (JCR). Details available at <a href="https://www.hindawi.com/journals/wcmc/">https://www.hindawi.com/journals/wcmc/</a>.</li>

                <li><strong >International Journal of Ambient Computing and Intelligence (IJACI)</strong>, ISSN - 1941-6237. Indexed by <span class="indexed">Clarivate, SCOPUS, EI Compendex</span>, etc. Details available at <a href="http://www.igi-global.com/journal/international-journal-ambient-computing-intelligence/1110"> http://www.igi-global.com/journal/international-journal-ambient-computing-intelligence/1110.</a>.</li>

                <li><strong >Advances in Multimedia</strong>, ISSN - 1687-5680, published by Hindawi. Indexed at <span style="color:red">Web of Science, Scopus, ACM DL, DBLP, INSPEC</span>, etc. Details available at <a href="https://www.hindawi.com/journals/am/">https://www.hindawi.com/journals/am/</a>.</li>

                <li><strong >Network Protocols and Algorithms</strong>, ISSN - 1943-3581. Indexed at <span style="color:red">ACM DL, DBLP, INSPEC</span>, etc. Details available at <a href="http://www.macrothink.org/journal/index.php/npa/index">http://www.macrothink.org/journal/index.php/npa/index</a>.</li>

                <li><strong >Australian Journal of Intelligent Information Processing Systems</strong>, ISSN 1321-2133. Indexed at <span style="color:red">INSPEC, Ranked B by Australian Government</span>. Details available at <a href="http://vbn.aau.dk/en/journals/australian-journal-of-intelligent-information-processing-systems(f2434c66-2cbd-4f94-8130-6f81d787ac93)/publications.html">http://vbn.aau.dk/en/journals/australian-journal-of-intelligent-information-processing-systems(f2434c66-2cbd-4f94-8130-6f81d787ac93)/publications.html</a>.</li>

                <li><strong >International Journal of Synthetic Emotions (IJSE)</strong>, ISSN - 1947-9903. Indexed by <span style="color:red">ACM DL, DBLP</span>, etc. Details available at <a href="http://www.igi-global.com/journal/international-journal-synthetic-emotions-ijse/1144">http://www.igi-global.com/journal/international-journal-synthetic-emotions-ijse/1144</a>.</li>
            </ol>



        </p>

   </div>