@{
    Layout = "~/Views/Shared/Layoutweb.cshtml";
}
<link href="~/Content/css/style.css" rel="stylesheet" />
<div class="conten-section col-md">

    <div class="hero-section-center col-md-10">
        <td class="faq" width="600" style="background-attachment: scroll; background-image: url('indiacom-link.jpg'); background-repeat: no-repeat; padding: 5px; background-position: center 50%" valign="top">
            <h1 class="generalHead" style="margin-bottom: 10">Latest News</h1>

            <table width="100%" style="font-size:14px">



                <tbody>
                    <tr align="center">
                        <td style="padding-bottom:5px;padding-top:5px"> DELCON-2024 - Presentation Schedule </td>
                    </tr>
                    <tr>
                        <td align="justify"><br> DELCON-2024 - Presentation Schedule </td>
                    </tr>
                    <tr>
                        <td align="left"></td>
                    </tr>
                    <tr>
                        <td align="left"><a href="downloads/DELCON-2024 - Presentation Schedule.pdf">DELCON-2024 - Presentation Schedule.pdf</a></td>
                    </tr>
                    <tr>

                        <td align="left">Posted On: 18-11-2024</td>
                    </tr>

                    <tr>
                        <td colspan="8">&nbsp;</td>
                    </tr>

                </tbody>
            </table>
        </td>
    </div>
</div>

