@{
    Layout = "~/Views/Shared/Layoutweb.cshtml";

}
<link href="~/Content/style/style.css" rel="stylesheet" />
<div class="content-section col-md">
<td class="faq" width="600" style="background-attachment: scroll; background-image: url('indiacom-link.jpg'); background-repeat: no-repeat; padding: 5px; background-position: center 50%" valign="top">
    <h1 class="generalHead" style="margin-bottom: 10; text-align:center;color:blue;">Downloadable Documents </h1>
   
<table style="border-collapse: collapse; width: 100%; border: 3px double black;">
    <tbody>
        <!-- Header Row -->
        <tr style="border: 3px double black;">
            <td colspan="2" style="border: 2px double black; text-align: center; font-family: Verdana; font-size: 14px; font-weight: bold;">
                Document Name
            </td>
            <td colspan="2" style="border: 2px double black; text-align: center; font-family: Verdana; font-size: 14px; font-weight: bold;">
                Format
            </td>
        </tr>

        <!-- Section: For Authors -->
        <tr style="border: 2px double black;">
            <td colspan="4" style="border: 2px double black; font-family: Verdana; font-size: 14px; font-weight: bold; text-align: left; padding: 5px;">
                For Authors
            </td>
        </tr>

        <tr style="border: 2px double black;">
            <td style="border: 2px double black; text-align: center; font-family: Verdana;">1.</td>
            <td style="border: 2px double black; font-family: Verdana;">Copyright Transfer Form (CRT)</td>
            <td colspan="2" style="border: 2px double black; text-align: center;">
                <a class="guidelines" href="\Content\pdfanddoc\Copyright Transfer Form.pdf" style="font-family: Verdana;">PDF</a>
            </td>
        </tr>

        <tr style="border: 2px double black;">
            <td style="border: 2px double black; text-align: center; font-family: Verdana;">2.</td>
            <td style="border: 2px double black; font-family: Verdana;">Certificate of Originality and Confirmation to attend the Conference (CORG)</td>
            <td style="border: 2px double black; text-align: center;">
                <a class="guidelines" href="\Content\pdfanddoc\Certificate_of_Originality_and_Confirmation_to_attend_the_Conference (1).doc" style="font-family: Verdana;">DOC</a>
            </td>
            <td style="border: 2px double black; text-align: center;">
                <a class="guidelines" href="\Content\pdfanddoc\Certificate_of_Originality_and_Confirmation_to_attend_the_Conference.pdf" style="font-family: Verdana;">PDF</a>
            </td>
        </tr>

        <tr style="border: 2px double black;">
            <td style="border: 2px double black; text-align: center; font-family: Verdana;">3.</td>
            <td style="border: 2px double black; font-family: Verdana;">How to Use IEEE PDF eXpress</td>
            <td colspan="2" style="border: 2px double black; text-align: center;">
                <a class="guidelines" href="\Content\pdfanddoc\How to Use IEEE PDF eXpress (1).pdf" style="font-family: Verdana;">PDF</a>
            </td>
        </tr>

        <tr style="border: 2px double black;">
            <td style="border: 2px double black; text-align: center; font-family: Verdana;">4.</td>
            <td style="border: 2px double black; font-family: Verdana;">Template for Full Paper</td>
            <td style="border: 2px double black; text-align: center;">
                <a class="guidelines" href="\Content\pdfanddoc\Template_For_Full_Paper.doc" style="font-family: Verdana;">DOC</a>
            </td>
            <td style="border: 2px double black; text-align: center;">
                <a class="guidelines" href="\Content\pdfanddoc\Template_For_Full_Paper.pdf" style="font-family: Verdana;">PDF</a>
            </td>
        </tr>

        <!-- Section: General -->
        <tr style="border: 2px double black;">
            <td colspan="4" style="border: 2px double black; font-family: Verdana; font-size: 14px; font-weight: bold; text-align: left; padding: 5px;">
                General
            </td>
        </tr>

        <tr style="border: 2px double black;">
            <td style="border: 2px double black; text-align: center; font-family: Verdana;">5.</td>
            <td style="border: 2px double black; font-family: Verdana;">Important Dates</td>
            <td style="border: 2px double black; text-align: center;">
                <a class="guidelines" href="\Content\pdfanddoc\Important_Dates.doc" style="font-family: Verdana;">DOC</a>
            </td>
            <td style="border: 2px double black; text-align: center;">
                <a class="guidelines" href="\Content\pdfanddoc\Important_Dates.pdf" style="font-family: Verdana;">PDF</a>
            </td>
        </tr>

        <tr style="border: 2px double black;">
            <td style="border: 2px double black; text-align: center; font-family: Verdana;">6.</td>
            <td style="border: 2px double black; font-family: Verdana;">Registration Form for INDIACom</td>
            <td style="border: 2px double black; text-align: center;">
                <a class="guidelines" href="\Content\pdfanddoc\Registration_Form_for_INDIACom.doc" style="font-family: Verdana;">DOC</a>
            </td>
            <td style="border: 2px double black; text-align: center;">
                <a class="guidelines" href="\Content\pdfanddoc\Registration_Form_for_INDIACom.pdf" style="font-family: Verdana;">PDF</a>
            </td>
        </tr>

        <tr style="border: 2px double black;">
            <td style="border: 2px double black; text-align: center; font-family: Verdana;">7.</td>
            <td style="border: 2px double black; font-family: Verdana;">Payment Modes</td>
            <td style="border: 2px double black; text-align: center;">
                <a class="guidelines" href="\Content\pdfanddoc\Payment Mode.doc" style="font-family: Verdana;">DOC</a>
            </td>
            <td style="border: 2px double black; text-align: center;">
                <a class="guidelines" href="\Content\pdfanddoc\Payment Mode.pdf" style="font-family: Verdana;">PDF</a>
            </td>
        </tr>

        <tr style="border: 2px double black;">
            <td style="border: 2px double black; text-align: center; font-family: Verdana;">8.</td>
            <td style="border: 2px double black; font-family: Verdana;">Reaching BVICAM</td>
            <td style="border: 2px double black; text-align: center;">
                <a class="guidelines" href="\Content\pdfanddoc\How_to_Reach_BVICAM.doc" style="font-family: Verdana;">DOC</a>
            </td>
            <td style="border: 2px double black; text-align: center;">
                <a class="guidelines" href="\Content\pdfanddoc\How_to_Reach_BVICAM.pdf" style="font-family: Verdana;">PDF</a>
            </td>
        </tr>

        <tr style="border: 2px double black;">
            <td style="border: 2px double black; text-align: center; font-family: Verdana;">9.</td>
            <td style="border: 2px double black; font-family: Verdana;">List of Nearby Hotels / Guest Houses</td>
            <td style="border: 2px double black; text-align: center;">
                <a class="guidelines" href="\Content\pdfanddoc\Accommodation Details.doc" style="font-family: Verdana;">DOC</a>
            </td>
            <td style="border: 2px double black; text-align: center;">
                <a class="guidelines" href="\Content\pdfanddoc\Accommodation Details.pdf" style="font-family: Verdana;">PDF</a>
            </td>
        </tr>
    </tbody>
</table>
</td>
</div>