@{
    Layout = "~/Views/Shared/Layoutweb.cshtml";
}
<link href="~/Content/css/style.css" rel="stylesheet" />

<div class="content-section col-md">

    <div class="editorial-container">
        <h1>Editorial Board</h1>

        <ul class="transitionList">
            <li><b>Prof. Mohammad Yamin,</b> Adjunct, Research School of Computer Science, The Australian National University, Canberra (AUSTRALIA)</li>
            <li><b>Prof. A. K. Saini,</b> University School of Management Studies, Guru Gobind Singh Indraprastha University, New Delhi (INDIA)</li>
            <li><b>Prof. A. K. Nayak,</b> President, CSI and Director, IIBM, Patna (INDIA)</li>
            <li><b>Prof. Vibhakar Mansotra,</b> Jammu University, Jammu (INDIA)</li>
            <li><b>Prof. D. K. Lobiyal,</b> SCSS, JNU, New Delhi (INDIA)</li>
            <li><b>Dr. Fahim Mohammad,</b> Harvard University, Boston, (USA)</li>
            <li><b>Prof. M. U. Bokhari,</b> Dept. of Computer Science, AMU, Aligarh (INDIA)</li>
            <li><b>Dr. Dharmendra Saini,</b> BVCOE, New Delhi (INDIA)</li>
            <li><b>Dr. J. K. Mandal,</b> Dept. of Computer Science & Engineering, University of Kalyani, Kalyani, West Bengal (INDIA)</li>
            <li><b>Prof. SMK Quadri,</b> Dept. of Computer Science, Jamia Millia Islamia, New Delhi (INDIA)</li>
            <li><b>Prof. Aasim Zafar,</b> Dept. of Computer Science, AMU, Aligarh (INDIA)</li>
            <li><b>Dr. Fahim Mohammad,</b> Harvard University Boston, (USA)</li>
            <li><b>Dr. Ritika Wason,</b> Associate Professor, BVICAM, New Delhi (INDIA)</li>
            <li><b>Dr. Sunil Pratap Singh,</b> Associate Professor, BVICAM, New Delhi (INDIA)</li>
            <li><b>Dr. Rakhee,</b> Assistant Professor, BVICAM, New Delhi (INDIA)</li>
            <li><b>Dr. Saumya Bansal,</b> Assistant Professor, BVICAM, New Delhi (INDIA)</li>
        </ul>
    </div>


</div>









