@{
    Layout = "~/Views/Shared/Layoutweb.cshtml";
}
<link href="~/Content/css/style.css" rel="stylesheet" />
<div class="content-section col-md">
        <h1 >IEEE Oversight Committee</h1>
        <h2 >(for INDIACom-2025)</h2>
     <br >

        <ul class="transitionList">
            <li  >Prof. Vivek Shrivastava, IEEE Delhi Section, New Delhi (INDIA)</li>
            <li  >Prof. Rajnish Sharma, IEEE Delhi Section, New Delhi (INDIA)</li>
            <li  >Dr. Ekta Gandotra, IEEE Delhi Section, New Delhi (INDIA)</li>
            <li  >Prof. Sneha Kabra, IEEE Delhi Section, New Delhi (INDIA)</li>
        </ul>
    </div>

</div>






<div><br /></div>


