@{
        Layout = "~/Views/Shared/Layoutweb.cshtml";
    }
<link href="~/Content/css/style.css" rel="stylesheet" />

<div class="col-md-10">
    <div class="row">

        <div class="col-md-8">
            <div class="hero-section-slider">
                <div class="hero-section-item">
                    <img src="~/Content/images/1.jpg" width="100%" height="425" alt="slider" class="responsive" />
                </div>
                <div class="hero-section-item">
                    <img src="~/Content/images/2.jpg" width="100%" height="425" alt="slider" class="responsive" />
                </div>
                <div class="hero-section-item">
                    <img src="~/Content/images/3.jpg" width="100%" height="425" alt="slider" class="responsive" />
                </div>
                <div class="hero-section-item">
                    <img src="~/Content/images/4.jpg" width="100%" height="425" alt="slider" class="responsive" />
                </div>
                <div class="hero-section-item">
                    <img src="~/Content/images/5.jpg" width="100%" height="425" alt="slider" class="responsive" />
                </div>
                <div class="hero-section-item">
                    <img src="~/Content/images/6.jpg" width="100%" height="425" alt="slider" class="responsive" />
                </div>
                <div class="hero-section-item">
                    <img src="~/Content/images/7.jpg" width="100%" height="425" alt="slider" class="responsive" />
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="menubox-title">News</div>
            <div class="menubox-bg slidermenubox">
                <ul class="menubox-menu">
                    <li><a href="">DELCON-2024 An Official Flagship Conference of IEEE Delhi Section</a></li>
                    <li><a href="">ICSSR Conference on India Towards    Viksit Bharat@2047</a></li>
                    <li><a href="">Admission Enquiry</a></li>
                    <li><a href="">DELCON-2024 An Official Flagship Conference of IEEE Delhi Section</a></li>
                    <li><a href="">ICSSR Conference on India Towards Viksit Bharat@2047</a></li>
                    <li><a href="">Admission Enquiry</a></li>
                </ul>
            </div>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-md-12">
            <p align="justify">
                Throughout the world, nations have started recognizing that IT is now acting as a catalyst in speeding up the economic activity in efficient governance, citizens' empowerment and in improving the quality of human life.

                Since its inception in the year 2007, <b>INDIACom</b> has attracted eminent academicians, scientists, researchers, industrialists, technocrats, government representatives, social visionaries and experts from all strata of society, to explore the new horizons of innovations to identify opportunities and define the path forward. This new path is aimed at eliminating isolation, discouraging redundant efforts and promoting scientific progress to accelerate nations' economic growth to prominence in the international arena and also at contributing effectively to realize the nations' vision of sustainable inclusive development using computing.

                <br>Encouraged by the resounding success met with the prior editions of INDIACom, we announce <b>19th INDIACom 2025 12th International Conference as INDIACom-2025</b>.<br> INDIACom, as always, aims at providing an effective platform to the researchers from all over the world to show-case their original research work, have effective exchange of ideas and develop a strategic plan for balanced and inclusive growth of economy through IT in critical areas like E-Governance, E-Commerce, Disaster Management, GIS, Geo-spatial Technologies, Nano-Technology, Intellectual Property Rights, AI and Expert Systems, Networking, Software Engineering, High Performance Computing and other Emerging Technologies.<br>

                <b>INDIACom-2025</b> will be held at <b>Bharati Vidyapeeth, New Delhi (INDIA)</b>. The conference will provide a platform for technical exchanges within the research community and will encompass regular paper presentation sessions, invited talks, key note addresses, panel discussions and poster exhibitions. In addition, the participants will be treated to a series of cultural activities, receptions and networking to establish new connections and foster everlasting friendship among fellow counterparts. The conference will also provide an opportunity to the participants to visit some of the world’s famous tourist places in Delhi like Qutub Minar, Red Fort, Akshardham Temple, Lotus Temple, Jantar Mantar, and Taj Mahal at Agra (around 200 KM from Delhi).
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="customTable">
                <table class="customTable-main">
                    <thead>
                        <tr class="customTable-header">
                            <th class="customTable-track">Track</th>
                            <th class="customTable-theme">Theme</th>
                            <th class="customTable-subtheme">Sub Theme</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr class="customTable-row">
                            <td>Track 1</td>
                            <td>Sustainable Computing</td>
                            <td>
                                E-Waste Management,<br>Renewable Energy Integration,<br>Low-Power Computing Devices,<br>
                                Sustainable Software Engineering,<br>Eco-Friendly Cloud Computing,<br>Lifecycle Assessment of IT Products,<br>
                                Sustainable IT Infrastructure,<br>Carbon Footprint Reduction in IT Computing
                            </td>
                        </tr>


                        <tr class="customTable-row">
                            <td>Track 2</td>
                            <td>High Performance Computing</td>
                            <td>
                                Algorithms and Computational Mathematics,<br>Changing Software Architectural Paradigms,<br>Low-Power Computing Devices,<br>
                                Technology for Convergence,<br>Fuzzy, Soft Computing and Nature Inspired Computing,<br>Modelling and Simulation
                            </td>
                        </tr>


                        <tr class="customTable-row">
                            <td>Track 3</td>
                            <td>High Speed Networking and Information Security</td>
                            <td>
                                Wireless Networking,<br>Computer Networks and Information Security,<br>Systems, Man, and Cybernetics,<br>
                                Computational Intelligence,<br>Mobile Computing,<br>Network Monitoring Tools,<br>Information and Collaboration Systems
                            </td>
                        </tr>


                        <tr class="customTable-row">
                            <td>Track 4</td>
                            <td>Software Engineering and Emerging Technologies</td>
                            <td>
                                Blockchain and Distributed Ledger Technologies,<br>Artificial Intelligence and Machine Learning,<br>Internet of Things (IoT) and Embedded Systems
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/ImportantDates.cshtml")
</div>


