@{
    Layout = "~/Views/Shared/Layoutweb.cshtml";
}
<link href="~/Content/css/style.css" rel="stylesheet" />
<div class="content-section col-md">
   
    
        <table>
            <td width="600" style="background-image: url('indiacom-link.jpg'); background-repeat: no-repeat; background-attachment: scroll; padding: 5px; background-position: center 50%" valign="top" class="content">
                <h1 class="generalHead">
                    List of Invited Speakers<br>
                    <small style="font-weight:bold;font-size:12px;text-align:center">(upto 2023)</small><br>
                </h1>
                <table border="0" height="5555" width="950">
                    <tbody>
                            <tr>
                            <td valign="top" height="148">
                                <img width="108" src="https://bvicam.ac.in/indiacom/images/DrGeorgeHalikias.png" height="137">
                            </td>
                            <td class="generalTxt" height="180" valign="top">
                                <b>Professor George Halikias</b> studied Engineering Science at Magdalen College, Oxford University (B.A. 1983) and Control Systems at Imperial College, London (M.Sc./D.I.C 1984, Ph.D. 1990). He has worked at Imperial College, the University of Leeds and City University, London, where he is currently Professor of Control Systems. His main research interests are in Systems Theory, Robust and Optimal Control, Cooperative Control over Networks, Convex Optimisation, and Control applications in Physical and Economic systems. He has published extensively in these areas and has supervised 15 PhD and post-doctoral students. <a class="faq" href="https://www.city.ac.uk/people/academics/george-halikias">
                                    Read More...
                                </a><br>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" height="148">
                                <img width="108" src="~/Content/images/DrHadiHedayati.jpg" height="137">
                            </td>
                            <td class="generalTxt" height="148" valign="top">
                                <b>His Excellency Professor Dr Hadi Hedayati</b>, was born in family of intellectuals in Kabul city. He completed his elementary studies in Abdul Ali Mostaghni High School in 1996. Having successfully passed the National Entrance Exam, he continued his higher education at Science Faculty of Kabul University. In 2000, he obtained his BA degree and was later, selected as an academic member of the Science Faculty of the Kabul University.<a class="faq" href="http://mcit.gov.af/en/page/1/4/6753">
                                    Read More...
                                </a><br>
                                <br>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" height="148">
                                <img width="108" src="~/Content/images/proftom.jpg" height="137">
                            </td>
                            <td class="generalTxt" height="148" valign="top">
                                <b>Prof. Tom Gedeon</b> Professor of Computer Science and Head of the Human Centred Computing (Hcc) Research Area of the Research School of Computer Science in the College of Engineering and Computer Science at The Australian National University in Canberra, Australia.
                                <a class="faq" href="https://cs.anu.edu.au/people/Tom.Gedeon/">
                                    Read More...
                                </a>
                            </td>
                        </tr>
                       
                        <tr>
                            <td valign="top" height="171">
                                <img width="118" src="~/Content/images/Prof. A. Q. Ansari.jpg" height="116">
                            </td>
                            <td class="generalTxt" height="171" valign="top">
                                <b>Prof. Abdul Quaiyum Ansari</b> is a
                                Professor in the Department of Electrical Engineering at Jamia Millia Islamia, New Delhi
                                (INDIA), since 18<sup>th</sup> August 2000. Prof. Ansari is a Fellow of the Institution of Engineers (India), the National Telematics Forum
                                (INDIA), and the IETE. He is a Senior Member of the Computer Society of India and the IEEE (USA). Prof. Ansari is currently the Chairman of the IEEE–Computational Intelligence Society, Delhi Chapter; Honorary Secretary, ISTE Jamia Chapter; and Faculty Advisor, ISTE-JMI
                                Students Chapter.
                                <a class="faq" href="http://jmi.ac.in/aboutjamia/departments/Electrical-Engg/faculty-members/Dr_Abdul_Quaiyum_Ansari-1950">
                                    Read More...
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" height="168">
                                <img width="118" src="~/Content/images/Dr. Aime Lay-Ekualille.jpg" height="116">
                            </td>
                            <td class="generalTxt" height="168" valign="top">
                                <b>Dr. Aime Lay-Ekualille</b>, Senior Member of IEEE, is with the University of Salento, MD in Electronic Engineering, MD in Clinical Engineering, Ph.D in Electronic Engineering, and post Degree in Environmental Impact Assessment. Director of Instrumentation and Measurement Lab at University of Salento. He is a former Technical Manager of different private and public institutions. He is currently scientific advisor of Italian national committee for IPPC (Integrated Pollution Prevention and Control, and health issues) and Senior advisor of the Italian Ministry of Environment.
                                <a class="faq" href="http://ieee-ims.org/contacts/aim%C3%A9-lay-ekuakille">
                                    Read More...
                                </a>
                            </td>
                        </tr>
                                               
                        <tr>
                            <td valign="top" height="205">
                                <img width="118" src="~/Content/images/Prof. Ashok Agarawala.jpg" height="118">
                            </td>
                            <td class="generalTxt" height="205" valign="top">
                                <b>Prof. Ashok Agarawala</b> is Professor in the Department of Computer Science at the University of Maryland. He also holds joint positions with University of Maryland Institute for Advanced Computer Studies (UMIACS) and the Department of Electrical Engineering. For the past thirty Years, he has pursued research activities in the design, implementation and performance of computer systems. He is recognized for achievements in the areas of transient analysis of queues, distributed algorithms, and hard real-time systems design. Much of his research has gained national and corporate recognition through practical applications of his innovative solutions in these areas worldwide.
                                <a class="faq" href="https://www.cs.umd.edu/users/agrawala/information.shtml">
                                    Read More...
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td valign="top" height="155">
                                <img width="118" src="~/Content/images/Prof.%20B.%20S.%20Chowdhry.jpg" height="118">
                            </td>
                            <td class="generalTxt" height="155" valign="top">
                                <b>Prof. B. S. Chowdhry</b> is Dean, Faculty of
                                Electrical Electronics and Computer Engineering and has been serving as

                                Chairman, Dept. of Electronics and Biomedical Engineering, MUET (PAKISTAN) for past 17 years and
                                Director IICT since 2008. He is Associate Editor of International
                                Journal of Social Network Mining (IJSNM), Inderscience Publishers, USA.
                                <a class="faq" href="http://www.muet.edu.pk/profile/professor-dr-bs-chowdhry">
                                    Read More...
                                </a>
                            </td>
                        </tr>

                        

                        <tr>
                            <td valign="top" height="148">
                                <img width="108" src="~/Content/images/Dr.%20Brejesh%20Lall.jpg" height="137">
                            </td>
                            <td class="generalTxt" height="148" valign="top">
                                <b>Dr. Brejesh Lall</b> is an Associate Professor in IIT Delhi. His
                                research Areas include Multiscale Modeling of Stochastic Processing,
                                Widesense Cyclostationary Process Representation, Physical layer in
                                Wireless Communication. He holds B.E. (Electronics &amp; Comm.) - Delhi
                                college of Engineering, M.E. Delhi college of Engineering and Ph.D.
                                (Signal processing) - IIT Delhi.
                                <a target="_blank" href="http://ee.iitd.ac.in/people/brijeshlall.html">
                                    Read More...
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" height="148">
                                <img width="108" src="~/Content/images/Dr. B. K. Panigrahi.jpg" height="137">
                            </td>
                            <td class="generalTxt" height="148" valign="top">
                                <b>Dr. B. K. Panigrahi</b> is an Associate Professor in IIT Delhi. His
                                research Areas include Power Quality, FACTS Devices, Power System Protection and AI Application to Power System.
                                <a target="_blank" href="http://ee.iitd.ernet.in/people/bkpanigrahi.html">
                                    Read More...
                                </a>
                            </td>
                        </tr>



                        <tr>
                            <td valign="top" height="146">
                                <img width="115" src="~/Content/images/Prof.%20D.%20K.%20Bandyopadhyay.jpg" height="148">
                            </td>
                            <td class="generalTxt" height="146" valign="top">
                                <b>
                                    Prof. D. K.
                                    Bandyopadhyay
                                </b> is a visionary leader in India's Management Education
                                community in modern times. He is a Fellow of the All India Management
                                Association (AIMA) and the Institution of Electronics and
                                Telecommunication Engineers (IETE). He has also been the recipient of
                                several prestigious awards, some of theses are: Kewal Nohria Award for
                                Academic Leadership in Management Education by AIMA (2010); Faculty gold
                                medal for excellence in academic achievements, Slovak University,
                                Nitra(2010); Guru Baishista Award by Scholar Society (2009); Delhi Ratan
                                Award (2009); Best dedicated Professor IIM Lucknow Award (1996), Indira
                                Gandhi Priyadarshini Award (2010), Dr. Radahakrishnan Memorial National
                                award (2011), Meri Dilli Award ( 2012), JGBS Top Rankers Excellence
                                Academia Leadership Award (2013) etc.
                                <a class="faq" href="http://ipu.ac.in/vc/vc_ipu.htm">Read More...</a><br>
                                &nbsp;
                            </td>
                        </tr>

                        

                        <tr>
                            <td valign="top" height="157">
                                <img width="116" src="~/Content/images/Prof. G. S. Hura.gif" height="112">
                            </td>
                            <td class="generalTxt" height="157" valign="top">
                                <font face="verdana" size="-1"><b>Prof. G. S. Hura </b> is professor and chair of Dept. of Mathematics &amp; Computer Science, University of Maryland (USA). He holds Ph.D. in Computer Engineering and M. S. in Electronics and Tele-communicationsfrom University of Roorkee (INDIA). He has more than forty years of teaching and reserach experience in various universities like Univ. of Idaho,  Wright State University (USA), Concordia University (CANADA).  <a class="faq" href="https://www.umes.edu/cms300uploadedFiles/1-AcademicAffairs/Business_and_Technology/_Departments/Math_and_Computer_Science/B3A3D223-A256-49E0-863B-361FD7F9446A.pdf">Read More...</a></font>
                            </td>
                        </tr>

                        <tr>
                            <td valign="top" height="157">
                                <img width="116" src="~/Content/images/Mr. Jeetan Singh.jpg" height="112">
                            </td>
                            <td class="generalTxt" height="157" valign="top">
                                <font face="verdana" size="-1"><b>Mr. Jeetan Singh </b>is an alumnus of Indian Institute of Technology Kharagpur, India and has over 20+ years of experience in the IT industry. He spent 10+ years of his initial career as a Computer Software specialist in variety of technologies. Jeetan started Datamatics Consultants Inc in 1993 to serve the IT needs of clients. Since its founding in 1993. Datamatics has grown from a bedroom office to an international operation with 130+ consultants based in the Americas and an additional 90 international associates. <a class="faq" href="http://www.ehighpoints.com/leadership_team.html">Read More...</a></font>
                            </td>
                        </tr>

                        <tr>
                            <td valign="top" height="157">
                                <img width="116" src="~/Content/images/Prof.%20Kishor%20S.%20Trivedi.jpg" height="112">
                            </td>
                            <td class="generalTxt" height="157" valign="top">
                                <font face="verdana" size="-1">
                                    <b>Prof. Kishor S. Trivedi </b>holds the
                                    Hudson Chair in the Department of Electrical and Computer Engineering at
                                    Duke University, Durham, NC (USA). He also holds a joint appointment in the
                                    Department of Computer Science at Duke. He was the Duke-Site Director of
                                    an NSF Industry-University Cooperative Research Center between NC State
                                    University and Duke University for carrying out applied research in
                                    computing and communications. He has been on the Duke faculty since
                                    1975. <a class="faq" href="http://people.ee.duke.edu/~kst/">Read More...</a>
                                </font>
                            </td>
                        </tr>



                        <tr>
                            <td valign="top" height="153">
                                <img width="115" src="~/Content/images/Prof.%20k.%20K.%20Aggarwal.jpg" height="142">
                            </td>
                            <td class="generalTxt" height="153" valign="top">
                                <b>Prof. K. K. Aggarwal</b>
                                was the founder Vice Chancellor Guru Gobind singh Indraprastha
                                Univeristy, New Delhi (INDIA) for two terms. He is presently the Chancellor of Lingaya's University, Haryana (INDIA). He is also on
                                the Board of Governors, I.I.T. Patna, a member of the UPSC Committee on
                                restructuring I.A.S. (Preliminary) examination and a member of the HRD
                                Task Force on Faculty Availability in Higher Education Institutions and
                                Performance Appraisal of Teachers.
                                <a class="faq" href="http://lingayasuniversity.edu.in/new/faculty.html">
                                    Read More...
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td valign="top" height="147">
                                <img width="115" src="~/Content/images/Prof. K. Subramanian.jpg" height="113">
                            </td>
                            <td class="generalTxt" height="147" valign="top">
                                <font face="verdana" size="-1">
                                    <b>Prof. K. Subramanian</b> was the first director and Professor at Advanced center for Informatics and Innovative Learning (ACIIL) and introduced Advanced Technology, Engineering and Management Courses at the Masters Level and started Research Programs in the Interdisciplinary areas of Knowledge Management, Informatics and Information and Communications Technologies and Management through Partnership Institutions at IGNOU..
                                    <a class="faq" href="http://sites.ieee.org/singapore-c/seminars-by-prof-subramanian/">
                                        Read More...
                                    </a>
                                </font>
                            </td>
                        </tr>

                        <tr>
                            <td valign="top" height="147">
                                <img width="115" src="~/Content/images/Prof.%20M.%20N.%20Doja.jpg" height="113">
                            </td>
                            <td class="generalTxt" height="147" valign="top">
                                <font face="verdana" size="-1">
                                    <b>Prof. M. N. Doja</b> is a national level
                                    quality evaluator for NACC and NBA. He has been the chairman /member of
                                    UGC plan committee  2f, 12b committee and an expert member for AICTE,
                                    MHRD and Planning commission. He is a member of IEE, IEEE, CSI, IET, ISTE and associated academic council/ BOG of a number of NITs and
                                    Universities. Prof. Doja is the founder Head of Department of Computer
                                    Engineering
                                </font>at Jamia Millia Islamia, New Delhi (INDIA)<font face="verdana" size="-1">
                                    and is the current Head of Department also.
                                    <a class="faq" href="http://jmi.ac.in/aboutjamia/departments/computer-engg/faculty-members/Prof_Mohammad_Najmud_Doja-1762">
                                        Read More...
                                    </a>
                                </font>
                            </td>
                        </tr>


                        <tr>
                            <td valign="top" height="134">
                                <img width="115" src="~/Content/images/Prof.%20M.%20P.%20Gupta.jpg" height="131">
                            </td>
                            <td class="generalTxt" height="134" valign="top">
                                <font face="verdana" size="-1">
                                    <b>Prof. M. P. Gupta </b>is a Professor
                                    at the Department of Management Studies, IIT Delhi, New Delhi (INDIA).
                                    He is on the jury of prestigious awards committees’ viz. Computer
                                    Society of India (CSI) E-Governance Awards, Web Ratna Awards (Government of
                                    India), and MP Government Awards for E-Governance. He is the recipient
                                    of the prestigious Humanities &amp; Social Sciences (HSS) fellowship of
                                    Shastri Indo Canadian Institute, Calgary (CANADA) and was a Visiting
                                    Fellow at the University of Manitoba.
                                    <a class="faq" href="http://dms.iitd.ac.in/image/mpg.pdf">Read More...</a>
                                </font>
                            </td>
                        </tr>

                        <tr>
                            <td valign="top" height="151">
                                <img width="112" src="~/Content/images/Prof.Mini.jpg" height="111">
                            </td>
                            <td class="generalTxt" height="151" valign="top">
                                <font face="verdana" size="-1">
                                    <b>Mini S. Thomas</b> is Professor in the Department of Electrical Engineering, Faculty of Engineering and Technology, Jamia Millia Islamia (JMI), and has 29 years of teaching and research experience in the field of Power systems.  Currently she is the Director of the Centre for Innovation and Entrepreneurship at the University. She was the Head of the Department of Electrical Engineering from 2005-2008.
                                    <a class="faq" href="http://http://jmi.ac.in/electrical/faculty-members/Dr_Mini_Shaji_Thomas-1954">
                                        Read More...
                                    </a>
                                </font>
                            </td>
                        </tr>


                        <tr>
                            <td valign="top" height="151">
                                <img width="112" src="~/Content/images/Prof.%20Mirza%20Salim%20Beg.jpg" height="111">
                            </td>
                            <td class="generalTxt" height="151" valign="top">
                                <font face="verdana" size="-1">
                                    <b>Prof. M. Salim Beg </b>is a Professor at
                                    the Department of Electrinics Engineering, AMU, Aligarh (INDIA). He
                                    obtained his B.Sc. Engg. (Hons) from AMU, Master of Engg. in
                                    Communication Engineering from Indian Institute of Science, Bangalore.
                                    He was awarded prestigious Commonwealth Scholarship for doing research
                                    at Loughborough University, England from where he obtained his Ph.D. for
                                    research in the area of Digital Communications over Mobile Channels.
                                    <a class="faq" href="http://ss1.amu.ac.in/dshowfacultydata2.jsp?did=32&amp;eid=3214">
                                        Read More...
                                    </a>
                                </font>
                            </td>
                        </tr>


                        <tr>
                            <td valign="top" height="146">
                                <img width="118" src="~/Content/images/MohdYamin.jpg" height="116">
                            </td>
                            <td class="generalTxt" height="146" valign="top">
                                <b>Mr. Mohammad Yamin</b> is Professor in the Depratment of Business Administration at Faculty of Economics and Administration, King Abdulaziz University. He holds doctorate degree from Management Information Systems, Economics and Administration, Australian National University, Canberra, Australia.

                                <a class="faq" href="http://www.kau.edu.sa/CVEn.aspx?Site_ID=0056560&amp;Lng=EN">
                                    Read More...
                                </a>
                            </td>
                        </tr>



                        <tr>
                            <td valign="top" height="146">
                                <img width="118" src="~/Content/images/Prof. Hamada.jpg" height="116">
                            </td>
                            <td class="generalTxt" height="146" valign="top">
                                <b>Prof. Mohamed Hamada</b> is a professor in the Computer Science Department, University of Aizu, Japan. His research interested include Artificial Intelligence and the Study of Functional Logic Languages, Natural Inspired Computation, Multimedia, Multimedia, Web-based and Advanced Learning Technologies.

                                <a class="faq" href="http://web-ext.u-aizu.ac.jp/~hamada/">
                                    Read More...
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td valign="top" height="142">
                                <img width="116" src="~/Content/images/Prof.%20O.%20P.%20Vyas.jpg" height="120">
                            </td>
                            <td class="generalTxt" height="142" valign="top">
                                <font face="verdana" size="-1">
                                    <b>Prof. O. P. Vyas</b> is a Professor at
                                    IIIT Allahbad, Allahbad (INDIA). He has pursued M.Tech. in Computer
                                    Science from IIT Kharagpur and Ph.D. in Computer Networks from IIT
                                    Kharagpur in joint collaboration with Technical University of
                                    Kaiserslautern (Germany). He was member of UGC Research Grants
                                    Committee, AICTE's expert committee and was also member of Review
                                    Committee for IIIT Bangalore and IIIT Hyderabad.
                                    <a class="faq" href="http://profile.iiita.ac.in/opvyas/">Read More...</a>
                                </font>
                            </td>
                        </tr>


                        <tr>
                            <td valign="top" height="247">
                                <img width="118" src="~/Content/images/Om Vyas.jpg" height="116">
                            </td>
                            <td class="generalTxt" height="247" valign="top">
                                <b>Dr. Om Vikas</b>
                                possesses B Tech(EE), M Tech(EE), Ph.D.(CSE) all from IIT, Kanpur. He was formerly Director/VC, ABV-IIITM (Indian Institute of Information Technology &amp; Management)
                                Gwalior, Senior Director in the Department of Electronics &amp; Information Technology (DE&amp;IT, Govt of India), and Counsellor (Science &amp; Technology) in Indian Embassy, Tokyo, Japan. In
                                DE&amp;IT, he steered Technology Development for Indian Languages (TDIL) Mission project and headed Computer Manpower Development Division. He served in TCS as System Engineer. He
                                was visiting professor at IIT/K, adjunct professor at IIT/D &amp; NSIT; Professor in-charge CLASS project at NCERT, Director, IP Engineering College, Advisor to C-DAC, Professor-Emeritus at
                                Mahamaya Technical University and on Academic Councils of various universities / Institutions.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" height="170">
                                <img width="118" src="~/Content/images/Dr. P. Mateti.jpg" height="116">
                            </td>
                            <td class="generalTxt" height="170" valign="top">
                                <b>Dr. P. Mateti</b> is Associate Professor in Department of Computer Science and Engineering, Wright State University (USA). He holds Ph.D. in Computer Science from University of Illinois (USA) and M.Tech. in Computer Science from IIT Kanpur (INDIA). <a class="faq" href="http://www.cs.wright.edu/people/faculty/pmateti/">
                                    Read More...
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td valign="top" height="185">
                                <img width="118" src="~/Content/images/Rajat M Nag.jpg" height="116">
                            </td>
                            <td class="generalTxt" height="185" valign="top">
                                <b>Mr. Rajat M. Nag</b> holds engineering degrees from the Indian Institute of Technology, Delhi
                                and University of Saskatchewan (Canada). He also has Masters degrees in Business Administration from Canada and Economics from the London School of Economics.<br>

                                Mr. Rajat M. Nag was till recently the Managing Director General of the Asian Development Bank (ADB).
                                With broad experience across Asia, Mr. Nag played a critical role in providing strategic and operational direction to ADB so it achieves its mission of helping its developing member countries reduce poverty and improve the quality of life of their people.

                                <a class="faq" href="https://wbi.worldbank.org/wbi/content/rajat">
                                    Read More...
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td valign="top" height="205">
                                <img width="118" src="~/Content/images/Mr. Rajendra Pratap Gupta.jpg" height="116">
                            </td>
                            <td class="generalTxt" height="205" valign="top">
                                <b>Mr. Rajendra Pratap Gupta</b> is Known globally for his innovative approach and strategic thinking . He has been invited by global organisations like the United Nations , World Health Organization , World Economic Forum , ITU , Embassy of the United States of America , Govt. of Japan &amp; Finland , and also by the Ministry of health &amp; The Planning Commission - Government of India for his views on diverse range of topics, and he authored the Election Manifesto for BJP in 2009 and in 2014 under the Chairmanship of Dr.Murli Manohar Joshi. Policies of the Modi led NDA Government are entirely based on the Election Manifesto authored by him.

                                <a class="faq" href="https://in.linkedin.com/in/rajendragupta">
                                    Read More...
                                </a>
                            </td>
                        </tr>


                        <tr>
                            <td valign="top" height="148">
                                <img width="108" src="~/Content/images/Prof. Sayed Hyder Abbas Musavi.jpg" height="137">
                            </td>
                            <td class="generalTxt" height="148" valign="top">
                                <b>Prof. Sayed Hyder Abbas Musavi</b> is PhD and ME in Telecommunication Engineering under HEC Scholarship and B.E. in Electronics Engineering from Mehran University of Engineering and Technology. He is currently serving as Dean Faculty of Engineering Science and Technology Indus University Karachi. Previously he was engaged as Chairman Department of Electrical and Electronics Engineering Hamdard University Karachi. In past he has served as Professor and Principal at Petroman- an Institute of Ministry of Information Technology and Telecommunications, Government of Pakistan at its various campuses for more than 10 years and had also remained Executive District Officer IT (EDO-IT) District Government Larkana.
                                <a class="faq" href="https://cs-cz.facebook.com/Khyber.Pukhtoonkhwa/posts/428753997166514">
                                    Read More...
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td valign="top" height="159">
                                <img width="115" src="~/Content/images/Mr. Stefanus Botes.jpg" height="137">
                            </td>
                            <td class="generalTxt" height="159" valign="top">
                                <font face="verdana" size="-1"><b>Mr. Stefanus Botes</b>, Minister Counsellor Economic at the South African High Commission, New Delhi since 2012.  As Head of the Economic Section in the Mission his mandate is the promotion of manufactured products from South Africa into India (export promotion) and recruiting Foreign Direct Investment (FDI) from India into South Africa.</font>
                            </td>
                        </tr>

                        <tr>
                            <td valign="top" height="159">
                                <img width="115" src="~/Content/images/Prof.%20S.%20V.%20Raghavan.jpg" height="137">
                            </td>
                            <td class="generalTxt" height="159" valign="top">
                                <font face="verdana" size="-1">
                                    <b>Prof. S. V. Raghavan </b>is the
                                    Scientific Secretary in the Office of the Principal Scientific Adviser
                                    to the Government of India, Professor in the Department of Computer
                                    Science and Engineering, Indian Institute of Technology, Madras, Chief
                                    Architect of India’s National Knowledge Network (NKN), and chairs the
                                    Technical Advisory Committee for National Optical Fiber Network (NOFN).
                                    Besides, he is the Chairman, Board of Governors of Indian Institute of
                                    Information Technology (Design and Manufacturing), Jabalpur (INDIA).
                                </font>
                            </td>
                        </tr>



                        <tr>
                            <td valign="top" height="155">
                                <img width="112" src="~/Content/images/Prof.%20Shiban%20K.%20Koul.jpg" height="143">
                            </td>
                            <td class="generalTxt" height="155" valign="top">
                                <font face="verdana" size="-1">
                                    <b>Prof. Shiban K Koul </b>is a Professor
                                    and Deputy Director (Strategy and Planning) at  Indian Institute of
                                    Technology Delhi, New Delhi (INDIA). He is also the Chairman of Astra
                                    Microwave Products Limited, Hyderabad, a major company involved in the
                                    Development of RF and Microwave systems in India. He is currently a
                                    serving ADCOM member and a Member of IEEE MTT society’s Technical
                                    committees on Microwave and Millimetre Wave Integrated Circuits (MTT-6)
                                    and RF MEMS (MTT-21), Member of India Initiative team of IEEE MTT-S,
                                    Membership Services Regional Co-coordinator India, Vice Chair, MGA and
                                    MTT-S Speaker bureau lecturer.
                                    <a class="faq" href="http://care.iitd.ac.in/People/Faculty/SKKoul.html">
                                        Read More...
                                    </a>
                                </font><br>
                                &nbsp;
                            </td>
                        </tr>

                        <tr>
                            <td valign="top" height="134">
                                <img width="112" src="~/Content/images/Prof.%20Steven%20Guan.jpg" height="118">
                            </td>
                            <td class="generalTxt" height="134" valign="top">
                                <font face="verdana" size="-1">
                                    <b>Prof. Steven Sheng-Uei Guan </b>is a
                                    Professor in the computer science and software engineering department at
                                    Xian Jiaotong-Liverpool University, Jiangsu (CHINA). Before joining
                                    XJTLU, he was a professor and chair in intelligent systems at Brunel
                                    University, UK. Prof. Guan has worked in a prestigious R&amp;D organization
                                    for several years, serving as a design engineer, project leader, and
                                    manager.
                                    <a class="faq" href="http://www.xjtlu.edu.cn/en/faculty/academic-subject-staff/item/90-guan-steven-sheng-uei.html">
                                        Read More...
                                    </a>
                                </font>
                            </td>
                        </tr>

                        <tr>
                            <td valign="top" height="183">
                                <img width="108" src="~/Content/images/Prof.%20Subramaniam%20Ganesan.jpg" height="127">
                            </td>
                            <td class="generalTxt" height="183" valign="top">
                                <font face="verdana" size="-1">
                                    <b>Prof. Subramaniam Ganesan</b> is a Professor of Electrical and Computer Engineering, Oakland UniversityRochester, MI 48309 (USA). He has over 25 years of teaching and research
                                    experience in Digital systems. He served as the chair of the CSE department from 1991 to 1998. He is with Electrical and Computer
                                    Engineering department since 2008. He received his masters and Ph.D. from Indian Institute of Science (IISc) Bangalore, India. He worked at National Aeronautical Laboratory (NAL) India, Ruhr University Germany, Concordia University Canada, and Western Michigan University beforejoining Oakland University.
                                    <a class="faq" href="http://www.secs.oakland.edu/~ganesan/">Read More...</a>
                                </font>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" height="148">
                                <img width="108" src="~/Content/images/vikas.jpg" height="137">
                            </td>
                            <td class="generalTxt" height="148" valign="top">
                                <b>Mr. Vikas </b>is a B.Tech from IIT Delhi with over 15 year of
                                professional experience &amp; is now a successful enterprenuer having have
                                successfully brought a pre-revenue single person start-up company to
                                high revenue with substantial growth stage company with global &amp;
                                prestigious customers. He has in-depth knowledge of video protocols,
                                integrating networked system for data analytics and have a proven track
                                record of implementing the necessary systems to ensure customer
                                satisfaction.
                                <a class="faq" target="_blank" href="http://www.sunworksconsultants.com/people.htm">
                                    Read More...
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td valign="top" height="148">
                                <img width="108" src="~/Content/images/vijay vaishnavi.jpg" height="137">
                            </td>
                            <td class="generalTxt" height="148" valign="top">
                                <b>Dr. Vijay Vaishnavi</b> is Emeritus Board of Advisors Professor of Computer Information Systems and former Professor of
                                Computer Science at Georgia State University, USA. He is former Senior Editor of MIS Quarterly and is on the editorial boards
                                of a number of other major journals. He has also held faculty positions at a number of other universities including Ohio University (USA),
                                Concordia University (Canada), IIT Kanpur, and BITS, Pilani.
                                <a class="faq" target="_blank" href="http://vijayvaishnavi.wordpress.com/">Read More...</a>
                            </td>
                        </tr>



                    </tbody>
                </table>

            </td>

        </table>


    

</div>





<div><br /></div>


