@{
    Layout = "~/Views/Shared/Layoutweb.cshtml";
}
<link href="~/Content/css/style.css" rel="stylesheet" />

<div class="content-section col-md">
        <div class="transitionList">
        <h1>Local Organising Committee</h1>
            <br>
        <ul>
            <li>Mr. C. B. Sawant, Regional Director, BVRO, New Delhi (INDIA)</li>
            <li>Mr. R. K. Vyas, President, CSI (INDIA)</li>
            <li>Dr. Vanshika Bhatia, BVICAM, New Delhi (INDIA)</li>
            <li>Ms. Ayushi Chopra, BVICAM, New Delhi (INDIA)</li>
            <li>Ms. Ambooj, BVICAM, New Delhi (INDIA)</li>
            <li>Ms. Preeti Rai, BVICAM, New Delhi (INDIA)</li>
            <li>Ms. Sakshi Aggarwal, BVICAM, New Delhi (INDIA)</li>
            <li>Mr. R. S. Chauhan, MTNL, New Delhi (INDIA)</li>
            <li>Mr. Pramod Patil, BVEC, New Delhi (INDIA)</li>
            <li>Mr. Avinash Pawar, BVICAM, New Delhi (INDIA)</li>
            <li>Ms. Manali Shrivastava, BVICAM, New Delhi (INDIA)</li>
            <li>Mr. Sandeep Puri, BVICAM, New Delhi (INDIA)</li>
            <li>Mr. Raghunath Patil, BVICAM, New Delhi (INDIA)</li>
        </ul>
    </div>


</div>






<div><br /></div>



