@{
    Layout = "~/Views/Shared/Layoutweb.cshtml";
}
<link href="~/Content/css/style.css" rel="stylesheet" />

<div class="content-section col-md">
    <div>

        <td width="600" style="background-image: url('indiacom-link.jpg'); background-repeat: no-repeat; background-attachment: scroll; padding: 5px; background-position: center 50%" valign="top" class="content">
            <h1 align="center" style="color :blue" ; font-weight: bold; style="margin-bottom: 0">
                Our Supporters
            </h1>

            <table align="center" border="0" height="918" width="594">
                <!--
                        <tr>
                        <td valign="bottom" height="38" colspan="2">
                        <b><font color="#FF0000" size="2">Technically Sponsored by...</font></b></td>
                        </tr>

                        <tr>
                        <td height="95" colspan="2" align="center">
                                  <font color="#0000FF">
                                      <a href="http://www.ieee.org/index.html" target="_blank" class="guidelines style3">
                                      <span style="font-family: Verdana,sans-serif">IEEE
                                      Delhi Section</span></a><br>
                                      <br>
                                  </font>
                              <img src="images/IEEE.jpg" width="164" height="95"></img>
                            <span style="font-size: 9.0pt; font-family: Verdana,sans-serif">&nbsp;</span></td>
                        </tr>
                -->
                <tbody>

                    <tr>

                        <td height="36" colspan="2">
                            <br />
                            <b><font style=" padding: 5px 0px 5px 0px; margin: 0; text-align: center; color: red; font-weight: bold;"><div style="text-align: center; font-weight: bold;">Supported and Promoted by</div></font></b>
                        </td>
                    </tr>

                    <tr>
                        <td height="143" width="49%" align="center">
                            <font color="#0000FF">
                                <span lang="NL" style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                                    <a class="guidelines" target="_blank" href="https://csi-delhi.org/">CSI Delhi Chapter</a>
                                </span>
                            </font><br><img src="~/Content/images/CSI Delhi Chapter.png" width="120" height="110"><b>
                                <span style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                                    <br>
                                    &nbsp;
                                </span>
                            </b>
                        </td>
                        <td height="143" width="51%" align="center">
                            <span lang="IT" style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                                <font color="#0000FF"><a class="guidelines" target="_blank" href="http://www.ietedelhi.org/">IETE Delhi Centre </a></font><br>
                            </span> <img src="~/Content/images/IETE Delhi.png" width="120" height="109">
                        </td>
                    </tr>


                    <tr>
                        <td height="141" colspan="2" align="center">
                            <font color="#0000FF">
                                <span style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                                    <a class="guidelines" target="_blank" href="http://www.ipu.ac.in/">GGSIP University, New Delhi</a><br>
                                </span>
                            </font>
                            <img src="~/Content/images/GGSIPU.png" width="120" height="111">
                        </td>
                    </tr>

                    <tr>
                        <td height="149" width="49%" align="center">
                            <span style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                                <font color="#0000FF"><a class="guidelines" target="_blank" href="https://www.aicte-india.org/">AICTE</a></font><br>
                            </span> <img src="~/Content/images/AICTE.png" alt="AICTE" width="99" height="95">
                        </td>
                        <td height="115" width="51%" align="center">
                            <span style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                                <font color="#0000FF">
                                    <a class="guidelines" target="_blank" href="https://dst.gov.in/">Department Of Science &amp; Technology</a>
                                </font><br>
                            </span>
                            <img src="~/Content/images/DST.png" width="121" height="105">
                        </td>
                    </tr>

                    <tr>
                        <td height="149" width="49%" align="center">
                            <span style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                                <font color="#0000FF"><a class="guidelines" target="_blank" href="https://www.csir.res.in/">Council of Scientific &amp; Industrial Research </a></font><br>
                            </span> <img src="~/Content/images/CSIR.png" alt="CSIR" width="99" height="95">
                        </td>
                        <td height="115" width="51%" align="center">
                            <span style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                                <font color="#0000FF">
                                    The Institute of Information
                                    Technology Professionals
                                </font><br>
                            </span>
                            <img src="~/Content/images/IITP.png" width="121" height="120">
                        </td>
                    </tr>

                    <tr>
                        <td height="149" width="49%" align="center">
                            <span style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                                <font color="#0000FF">JJT University, Rajasthan <a class="guidelines" target="_blank" href=""></a></font><br>
                            </span><img src="~/Content/images/JJTU.png" alt="JJT University" width="99" height="95">
                        </td>
                        <td height="149" width="49%" align="center">
                            <span style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                                <font color="#0000FF"><a class="guidelines" target="_blank" href="http://www.isteonline.in/">ISTE Delhi Section</a></font><br>
                            </span> <img src="~/Content/images/ISTE.jpg" alt="ISTE" width="99" height="95">
                        </td>
                    </tr>
                    <tr>
                        <td height="149" width="49%" align="center">
                            <span style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                                <font color="#0000FF">Computational Intelligence Research Group <a class="guidelines" target="_blank" href=""></a></font><br>
                            </span> <img src="~/Content/images/CIRG_logo.jpg" alt="CIRG" width="99" height="95">
                        </td>
                        <td height="115" width="51%" align="center">
                            <span style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                                <font color="#0000FF">
                                    Netaji Subhash Institue of Technology
                                </font><br>
                            </span>
                            <img src="~/Content/images/NSIT.jpg" width="121" height="105">
                        </td>
                    </tr>
                    <tr>
                        <td height="149" width="49%" align="center">
                            <span style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                                <font color="#0000FF">Jamia University <a class="guidelines" target="_blank" href=""></a></font><br>
                            </span><img src="~/Content/images/Jamia Hamdard.jpg" alt="Jamia Hamdard" width="99" height="95">
                        </td>
                        <td height="115" width="51%" align="center">
                            <span style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                                <font color="#0000FF">
                                    Maharaja Surajmal Institute of Technology
                                </font><br>
                            </span>
                            <img src="~/Content/images/Logo of MSIT.jpg" width="121" height="105">
                        </td>
                    </tr>
                    <tr>
                        <td height="149" width="49%" align="center">
                            <span style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                                <font color="#0000FF"><a class="guidelines" target="_blank" href="">BPIBS</a></font><br>
                            </span> <img src="~/Content/images/BPIBS logo.jpg" alt="BPIBS" width="99" height="95">
                        </td>
                        <td height="115" width="51%" align="center">
                            <span style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                                <font color="#0000FF">
                                    <a class="guidelines" target="_blank" href="">CCET</a>
                                </font><br>
                            </span>
                            <img src="~/Content/images/CCET Logo.jpg" width="121" height="105">
                        </td>
                    </tr>


                    <tr>
                        <td height="149" width="49%" align="center">
                            <span style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                                <font color="#0000FF">Gautam Buddha University <a class="guidelines" target="_blank" href=""></a></font><br>
                            </span> <img src="~/Content/images/GBU logo.jpg" alt="GBU" width="99" height="95">
                        </td>
                        <td height="115" width="51%" align="center">
                            <span style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                                <font color="#0000FF">
                                    Gyancity<a class="guidelines" target="_blank" href=""></a>
                                </font><br>
                            </span>
                            <img src="~/Content/images/Gyancity Logo.jpg" alt="Gyancity" width="121" height="105">
                        </td>
                    </tr>

                    <tr>
                        <td height="149" width="49%" align="center">
                            <span style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                                ITM Univeristy <font color="#0000FF"> </font><br>
                            </span> <img src="~/Content/images/ITM University Logo.jpg" alt="ITM University" width="99" height="95">
                        </td>
                        <td height="115" width="51%" align="center">
                            <span style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                                Integral Univeristy
                                <br>
                            </span>
                            <img src="~/Content/images/IU Logo.jpg" alt="Integral University" width="121" height="105">
                        </td>
                    </tr>

                    <tr>
                        <td height="149" width="49%" align="center">
                            <span style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                                KUMARAGURU Inst. of Technology  <br>
                            </span> <img src="~/Content/images/KCT LOGO.jpg" alt="KCT" width="99" height="95">
                        </td>
                        <td height="115" width="51%" align="center">
                            <span style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                                SKITM<br>
                            </span>
                            <img src="~/Content/images/SKITM Logo.jpg" alt="SKITM" width="121" height="105">
                        </td>
                    </tr>

                    <tr>
                        <td height="149" width="49%" align="center">
                            <span style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                                UKA TARSADIA University <br>
                            </span> <img src="~/Content/images/UTU LOGO.png" alt="UKA TARSADIA" width="99" height="95">
                        </td>
                        <td height="115" width="51%" align="center">
                            <span style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                                The IIS University <br>
                            </span> <img src="~/Content/images/IISU Logo.png" alt="IIS University" width="99" height="95">
                        </td>
                    </tr>

                    <tr>
                        <td height="149" width="49%" align="center">
                            <span style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                                JAYPEE University of Information Technology<br>
                            </span> <img src="~/Content/images/Juit LOGO.jpg" alt="JUIT" width="99" height="95">
                        </td>
                        <td height="115" width="51%" align="center">
                            <span style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                                Punjab Technical University<br>
                            </span>
                            <img src="~/Content/images/University_LOGO PTU.jpg" alt="PTU" width="99" height="95">
                        </td>
                    </tr>

                    <tr>
                        <td height="149" width="49%" align="center">
                            <span style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                                Forest Research Institute<br>
                            </span> <img src="~/Content/images/fri_logo.jpg" alt="FRI" width="99" height="95">
                        </td>
                        <td height="115" width="51%" align="center">
                            <span style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                                Ferozepur College of Engineering &amp; Technology<br>
                            </span>
                            <img src="~/Content/images/Organization_LOGO_FCET.jpg" alt="PTU" width="99" height="95">
                        </td>
                    </tr>

                    <tr>
                        <td height="149" width="49%" align="center">
                            <span style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                                Guru Nanak Institute of Management<br>
                            </span> <img src="~/Content/images/GNIM_Logo.gif" alt="FRI" width="99" height="95">
                        </td>
                        <td height="115" width="51%" align="center">
                            <span style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                                People's Education Society<br>
                            </span><img src="~/Content/images/PES.jpg" alt="PES" width="99" height="95">
                        </td>
                    </tr>

                    <tr>
                        <td height="149" width="49%" align="center">
                            <span style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                                Rajasthan Institute of Engineering &amp; Technology<br>
                            </span> <img src="~/Content/images/RIET.jpg" alt="RIET" width="99" height="95">
                        </td>
                        <td height="149" width="49%" align="center">
                            <span style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                                DCRUST<br>
                            </span> <img src="~/Content/images/DCRUST_logo.jpg" alt="DCRUST" width="99" height="95">
                        </td>
                    </tr>

                    <tr>
                        <td height="149" width="49%" align="center">
                            <span style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                                Dronacharya College of Engg. <br>
                            </span> <img src="~/Content/images/Dronacharya CoE logo.jpg" alt="DCoE" width="99" height="95">
                        </td>
                        <td height="149" width="49%" align="center">
                            <span style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                                Galgotias University<br>
                            </span> <img src="~/Content/images/Galgotia University.jpg" alt="Galgotia University" width="99" height="95">
                        </td>
                    </tr>

                    <tr>
                        <td height="149" width="49%" align="center">
                            <span style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                                Marwadi Education Foundation <br>
                            </span> <img src="~/Content/images/Marwadi Education.jpg" alt="Marwadi Education" width="99" height="95">
                        </td>
                        <td height="149" width="49%" align="center">
                            <span style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                                National Institute of Technology<br>
                            </span> <img src="~/Content/images/NIT KKR Logo.jpg" alt="NIT KKR" width="99" height="95">
                        </td>
                    </tr>


                    <tr>
                        <td height="149" width="49%" align="center">
                            <span style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                                SRM University<br>
                            </span> <img src="~/Content/images/SRM-University-logo.jpg" alt="SRM University" width="99" height="95">
                        </td>
                        <td height="149" width="49%" align="center">
                            <span style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                                YMCA University of Science &amp; Technology<br>
                            </span> <img src="~/Content/images/YMCAUST logo.jpg" alt="YMCAUST" width="99" height="95">
                        </td>
                    </tr>


                    <tr>
                        <td height="149" width="49%" align="center">
                            <span style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                                ADCET Maharashtra<br>
                            </span> <img src="~/Content/images/ADCET_Logo.jpeg" alt="ADCET" width="99" height="95">
                        </td>
                        <td height="149" width="49%" align="center">
                            <span style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                                <br>
                            </span>
                        </td>
                    </tr>



                    <!--

                           <tr>
                           <td height="149" width="49%" align="center">
                           <span lang="IT" style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                           <font color="#0000FF">
                           <a class="guidelines" target="_blank" href="http://www.jiit.ac.in/">Jaypee Institute of Information Technology</a>		</font><br>
                           </span>
                           <img src="images/JUIT.jpg" width="107" height="109"></td>
                           <td  height="115" width="51%" align="center">
                           <span style="font-size: 9.0pt; font-family: Verdana,sans-serif">
                           <font color="#0000FF">
                           <a class="guidelines" target="_blank" href="http://www.amrapali.ac.in/">Amrapali Group of Institutes</a></font><br>
                           </span>
                           <img src="images/amrapali group.jpg" ></td>
                             </tr>
                           <tr>
                             <td height="149" align="center"><span lang="IT" style="font-size: 9.0pt; font-family: Verdana,sans-serif"><font color="#0000FF"><a class="guidelines" target="_blank" href="http://gkv.ac.in/">Gurukul Kangri Vishwavidyalaya</a> </font><br>
                             </span> <img src="images/gurukul kangri.jpg" ></td>
                             <td  height="115" align="center"><span lang="IT" style="font-size: 9.0pt; font-family: Verdana,sans-serif"><font color="#0000FF"><a class="guidelines" target="_blank" href="http://www.kashmiruniversity.net/">Kashmir University</a> </font><br>
                             </span> <img src="images/kashmir university.jpg" ></td>
                             </tr>
                           <tr>
                             <td height="149" align="center"><span lang="IT" style="font-size: 9.0pt; font-family: Verdana,sans-serif"><font color="#0000FF"><a class="guidelines" target="_blank" href="http://www.bmsce.in/">BMS College of Engineering, Bangalore</a> </font><br>
                             </span> <img src="images/BMS CoE.jpg" ></td>
                             <td  height="115" align="center"><span lang="IT" style="font-size: 9.0pt; font-family: Verdana,sans-serif"><font color="#0000FF"><a class="guidelines" target="_blank" href="http://www.telecom-sudparis.eu/en_accueil.html">Telecom SudParis</a> </font><br>
                             </span> <img src="images/Telecom sudParis.jpg" ></td>
                             </tr>
                    -->
                </tbody>
            </table>

        </td>
    </div>
</div>