@{
 Layout = "~/Views/Shared/Layoutweb.cshtml";
}


@*<link href="~/Content/css/style.css" rel="stylesheet" />*@
<div class="content-section col-md">
    
    <div>
        
        <h1>Plagiarism Policy</h1>
        <br />
        <p>Plagiarism is the unethical act of copying someone else's prior ideas, processes, results, or words without explicit acknowledgement of the original author and source. Self-plagiarism occurs when an author utilizes large parts of his/her own previously published work without using appropriate references. This can range from getting the same manuscript published in multiple conferences/journals to modifying a previously published manuscript with some new data.</ps>

        <p>Since its inception in the year 2007, INDIACom has attracted eminent academicians, scientists, researchers, industrialists, technocrats, government representatives, social visionaries and experts from all strata of society, to explore the new horizons of innovations to identify opportunities and define the path forward. This new path is aimed at eliminating isolation, discouraging redundant efforts and promoting scientific progress to accelerate nations economic growth to prominence in the international arena; and also at contributing effectively to realize the nations vision of sustainable inclusive development using computing.</p>

        <p>INDIACom is strictly against any unethical act of copying or plagiarism in any form. Plagiarism is said to have occurred when large portions of a manuscript have been copied from existing previously published resources. All manuscripts submitted to INDIACom are cross-checked for plagiarism using Turnitin software. Manuscripts found to be plagiarized during initial stages of review are out-rightly rejected and not considered for presentation in the Conference / publication in the Conference Proceedings.</p>

        <p>In case a manuscript is found to be plagiarized after publication, the Editor-in-Chief will conduct preliminary investigation, may be with the help of a suitable committee constituted for the purpose. If the manuscript is found to be plagiarized beyond the acceptable limits, the INDIACom Team will contact the authors Institute / College / University and Funding Agency, if any. A determination of misconduct will lead INDIACom to run a statement bi-directionally linked online to and from the original paper, to note the plagiarism and provide a reference to the plagiarized material. The paper containing the plagiarism will also be marked on each page of the PDF. Upon determination of the extent of plagiarism, the paper may also be formally retracted.</p>
        <br />
        <h2 >TYPES OF PLAGIARISM</h2>
        <br />
        <ul >
            <li>
                <strong>Full Plagiarism:</strong> Previously published content without any changes to the text, idea, and grammar is considered full plagiarism. It involves presenting exact text from a source as one's own.
            </li>
            <li >
                <strong>Partial Plagiarism:</strong> If content is a mixture from multiple different sources, where the author has extensively rephrased text, then it is known as partial plagiarism.
            </li>
            <li >
                <strong>Self-Plagiarism:</strong> Reusing complete or portions of previously published work is known as self-plagiarism. Complete self-plagiarism is a case when an author republishes their own previously published work in a new conference / journal.
            </li>
        </ul>

        <br />
        <h2>INDIACom POLICY FOR PLAGIARISM</h2>
        <br />
        <p>
            INDIACom respects intellectual property and aims at protecting and promoting original work of its authors. Manuscripts containing plagiarized material are against the standards of quality, research and innovation. Hence, all authors submitting articles to INDIACom are expected to abide ethical standards and abstain from plagiarism, in any form. In case, an author is found to be suspected of plagiarism in a submitted or published manuscript then,
        </p>
        <br />
        @*<ul style="font-size: 16px; line-height: 1.6; color: black; padding-left: 20px;">*@
        <ul>
            
            <li> INDIACom shall contact the author (s) to submit his / her (their) explanation within two weeks, which may be forwarded to the <br /><span style="font-weight: bold;">Fact Finding Committee (FFC)</span> constituted for the purpose, for further course of action.</li>
            <li > If INDIACom does not receive any response from the author within the stipulated time period, then the Director / Dean / Head of the concerned College, Institution or Organization or the Vice Chancellor of the University to which the author is affiliated shall be contacted<br /> to take strict action against the concerned author.</li>
        </ul>
        <br />

        <h2>POLICY AND ACTION</h2>
        <br />
        <p>
            INDIACom shall take serious action against published manuscripts found to contain plagiarism and shall completely remove them from INDIACom website and other third party websites where the paper is listed and indexed. The moment, any article published in INDIACom database is reported to be plagiarized, INDIACom will constitute a Fact Finding Committee (FFC) to investigate the same. Upon having established that the manuscript is plagiarized from some previously published work, INDIACom shall support the original author and manuscript irrespective of the publisher and may take any or all of the following immediate actions or follow the additional course of actions as recommended by the committee:-
        </p>
        <br />
        
        <ul>
          
            <li>INDIACom editorial office shall immediately contact the Director / Dean / Head of the concerned College, Institution or Organization or the Vice Chancellor of the University to which the author(s) is (are) affiliated to take strict action against the concerned author.</li>
            <li >INDIACom shall remove the PDF copy of the published manuscript from the website and disable all links to full text article.</li>
            <li >The term <span style="font-weight: bold;">Plagiarized Manuscript </span>shall be appended to the published manuscript title.</li>
            <li >INDIACom shall disable the author account with BVICAM and reject all future submissions from the author for a period of 03 / 05 / 10 years or even ban the authors permanently.</li>
            <li>INDIACom may also display the list of such authors along with their full contact details on the INDIACom website.</li>
            <li>Any other course of action, as recommended by the Committee or as deemed fit for the instant case or as decided by the Editorial Board, from time to time.</li>
        </ul>
        <br />

    </div>

</div>

@*<div>

    <br />
</div>*@
