<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Responsive Images with srcset</title>
    <link href="~/Content/css/all.min.css" rel="stylesheet" />
    <link href="~/Content/css/slick.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
</head>
<body>

    <div><br /></div>
    
        <div class="hero-section-left col-md-2">
            <div class="menubox-title">Quick Links</div>
            <div class="menubox-bg">
                <ul class="menubox-menu">
                    <li><a href="">News</a></li>
                    <li><a href="">Home</a></li>
                    <li><a href="">Important Dates</a></li>
                    <li><a href="">Call for Papers</a></li>
                    <li><a href="">Get Membership</a></li>
                    <li><a href="">Member Login</a></li>
                    <li><a href="">Submit Paper</a></li>
                    <li><a href="">Special Sessions</a></li>
                    <li><a href="">Registration</a></li>
                    <li><a href="">Payment Modes</a></li>
                    <li><a href="">Conference Secretariat</a></li>
                    <li><a href="">Review Process, Publication & Indexing</a></li>
                    <li><a href="">INDIACOM History</a></li>
                    <li><a href="">Downloads</a></li>
                    <li><a href="">Invited Speakers</a></li>
                    <li><a href="">Guidelines to Submit Paper</a></li>
                    <li><a href="">Join Technical Programme Committee</a></li>
                    <li><a href="">Plagiarism Policy</a></li>
                    <li><a href="">Committees</a></li>
                    <li><a href="">Our Supporters</a></li>
                    <li><a href="">INDIACom Proceedings</a></li>
                    <li><a href="">Accommodation</a></li>
                    <li><a href="">How to reach Venue</a></li>
                    <li><a href="">FAQs</a></li>
                    <li><a href="">Submit Feedbacks</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
                <table width="100%" height="auto" cellpadding="10" class="menu" cellspacing="10" bgcolor="#D8E4F8">
                    <tbody>
                        <tr>
                            <td align="center" colspan="3"><b><font size="3">Important Dates</font></b></td>
                        </tr>
                        <tr>
                            <td colspan="3" align="center">
                                Submission of Full Length Paper<br>
                                <span class="menuImpDate" style="color:red">30<sup>th</sup> December, 2024</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" align="center">
                                Paper Acceptance Notification<br>
                                <span class="menuImpDate" style="color:red">10<sup>th</sup> February, 2025</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" align="center">
                                Submission of Final Version of Paper<br>
                                <span class="menuImpDate" style="color:red">24<sup>th</sup> February, 2025</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" align="center">
                                Registration Deadline<br>Early Bird<br>
                                <span class="menuImpDate" style="color:red">24<sup>th</sup> February, 2025</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" align="center">
                                PPT Submission Deadline<br>
                                <span class="menuImpDate" style="color:red">24<sup>th</sup> February, 2025</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div><br /></div>
     <!-- xyay-->   <br />


        @*Write your code here*@
        @*Write your code here*@
        @*Write your code here*@
        @*Write your code here*@
        @*Write your code here*@
        @*Write your code here*@
        @*Write your code here*@

   
</body>
</html>