@{
    Layout = "~/Views/Shared/Layoutweb.cshtml";
}

<link href="~/Content/css/style.css" rel="stylesheet" />

<div class="content-section col-md">
    <div class="content-container">
        <td class="submitPaper" width="600" valign="top">
            <h2>
                <b>Not Logged-In</b>
            </h2>
            <p class="generalTxt">
                This feature is accessible only to registered members of the INDIACom website. You need to log in with your Member ID before you proceed. If you do not have a Member ID at our website, please register with us. Registering with us is simple and fast, and it's free too! You
                can access the <a href="addMember.asp">Membership Form here</a>, for registration and generation of Member ID.
            </p>
            <p class="generalTxt">
                <strong>If you are already a member, please <a href="login.asp">proceed to the Log-In page</a>.</strong>
            </p>
            <p class="generalTxt">
                <strong>Note</strong>: If you are visiting this website for the first time, please read the guidelines given hereunder before you proceed. <br><br>
            </p>

            <font size="2">
                <a class="faq" href="javascript:toggleList('1')">1. Guidelines to get membership</a>
            </font>
            <br>
            <div id="1" class="faq-content" align="justify">
                <p class="generalTxt">
                    <b>Get Membership</b> - Getting membership to our site is the first step. You need to sign up using the <a class="guidelines" href="addMember.asp">Get Membership</a> link.
                    This allots you a unique <strong>Member ID</strong> which helps the website to recognize you. And it is <b>Free!</b> Please skip this step if you are already a member.<br><br>
                    Your e-mail account, provided by you in the membership form, is considered as <strong>registered e-mail ID </strong>by us, and the same would be used by us for further communication with you. To begin with, your <strong>Member ID</strong> and <strong>Password</strong> would be mailed to you. Please mail us, using your registered mail ID, at <a class="guidelines" href="mailto:conference@bvicam.ac.in">conference@bvicam.ac.in</a> in case you don't receive this e-mail.<br>
                    <br>
                    <strong>Kindly Note that you do not need to re-register in case you had registered online as a member for any of the prior events like INDIACom, NSC, BIJIT etc.</strong>
                </p>
            </div>
            <font size="2">
                <a class="faq" href="javascript:toggleList('2')">2. Guidelines to submit paper</a><br>
            </font>
            <div id="2" class="faq-content" align="justify">
                <p class="generalTxt">
                    <b><font color="red">Step 1</font> : Log in</b> - In order to submit a paper, you need to log in to the web account using your
                    <strong>Member ID</strong> and <strong>Password</strong>. You can do this by <a class="guidelines" href="login.asp">clicking here</a>.
                </p>
                <p class="generalTxt">
                    <b><font color="red">Step 2</font> : Submit the paper</b> - You can now submit your paper using the
                    <a class="guidelines" href="submitPaper.asp">Submit Paper</a> link. Please note that all your co-authors must be members of this website and while submitting the paper, you would need to provide their member IDs. When you submit a paper, a <strong>Unique Paper ID</strong> is allotted to it.
                    Please use this ID for any queries regarding the paper, in future.
                </p>
            </div>

            <font size="2">
                <a class="faq" href="javascript:toggleList('3')">3. Guidelines to submit revised paper or related documents</a><br>
            </font>
            <div id="3" class="faq-content" align="justify">
                <p class="generalTxt">
                    <b><font color="red">Step 1</font> : Log in</b> - In order to submit revisions to your papers, you need to log in to the web account using your <strong>Member ID</strong> and <strong>Password</strong>. You can do this by <a class="guidelines" href="login.asp">clicking here</a>.
                </p>
                <p class="generalTxt">
                    <b><font color="red">Step 2</font> : Submit the revisions</b> - The details of all the papers submitted by you would be visible in your <a class="guidelines" href="members.asp">members area</a>. You can now submit revisions to your paper using the <em>Submit Revised Paper</em> link appearing next to the listed paper details.
                </p>
            </div>

            <font size="2">
                <a class="faq" href="javascript:toggleList('4')">4. Guidelines to submit request for Convening a Special Session</a><br>
            </font>
            <div id="4" class="faq-content" align="justify">
                <font size="2">
                    <p class="generalTxt">
                        <b><font color="red">Step 1</font> : Log in</b> - In order to submit revisions to submit request for Convening a Special Session, you need to log in to the web account using your <strong>Member ID</strong> and <strong>Password</strong>. You can do this by <a class="guidelines" href="login.asp">clicking here</a>.
                    </p>
                    <p class="generalTxt">
                        <b><font color="red">Step 2</font> : Provide the details of your proposal</b> - You can now submit details of the proposed Special Session by using the <a href="splSessionRequest.asp">Submit Special Session Request</a> link. Please note that we need your Mobile Number and your Resume before processing your request. Thus, you are requested to ensure your profile is up to date by <a href="editProfile.asp">clicking here</a>. Once the request submitted by you is approved, the same would be <a href="specialSessions.asp">listed here</a> along with other <em>approved special sessions</em>.
                    </p>
                </font>
            </div>

            <font size="2">
                <a class="faq" href="javascript:toggleList('5')">5. Guidelines to join Technical Programme Committee</a><br>
            </font>
            <div id="5" class="faq-content">
                <font size="2">
                    <p class="generalTxt">
                        <b><font color="red">Step 1</font> : Log in</b> - In order to submit a request for joining the Technical Programme Committee, you need to log in to the web account using your <strong>Member ID</strong> and <strong>Password</strong>. You can do this by <a class="guidelines" href="login.asp">clicking here</a>.
                    </p>
                    <p class="generalTxt">
                        <b><font color="red">Step 2</font> : Provide Additional Required Information</b> - You can now submit your request for joining INDIACom TPC by providing some additional information by <a href="joinTPCTeam.asp">clicking here</a>. Please note that your basic information is picked from your profile provided by you at the time of registration. Thus, you are requested to ensure your profile is up to date by <a href="editProfile.asp">clicking here</a>.
                    </p>
                </font>
            </div>

            <font size="2">
                <a class="faq" href="javascript:toggleList('6')">6. Guidelines to Submit Feedback </a><br>
            </font>
            <div id="6" class="faq-content" align="justify">
                <font size="2">
                    <p class="generalTxt">
                        <b><font color="red">Step 1</font> : Log in</b> - Though you don't need to login to submit your feedback, but it would help us in communicating with you and improving our processes, in case you log in before providing us your valuable feedback.
                    </p>
                    <p class="generalTxt">
                        <b><font color="red">Step 2</font> : Provide your Valuable Feedback</b> - You can now rate your experience and provide suggestions for improvement by <a href="submitFeedback.asp">clicking here</a>. Please note that your basic information is picked from your profile provided by you at the time of registration. Thus, you are requested to ensure your profile is up to date by <a href="editProfile.asp">clicking here</a>.
                    </p>
                </font>
            </div>

        </td>
    </div>

</div>

  