@{
    Layout = "~/Views/Shared/Layoutweb.cshtml";
}
<link href="~/Content/css/style.css" rel="stylesheet" />

<div class="content-section col-md">
  


    <h1>Technical Committee</h1>
    <ul class="transitionList">
        <li>
            Prof. M. N. Doja, Director, IIIT, Sonipat, Haryana (INDIA)
        </li>
        <li>
            Prof. Kukjin Chun, Seoul National University (KOREA)
        </li>
        <li>
            Prof. S. K. Gupta, IIT Delhi (INDIA)
        </li>
        <li>
            Prof. M. P. Gupta, IIT, Delhi (INDIA)
        </li>
        <li>
            Prof. Mahammad Yamin, King Abdul Aziz University, Saudi Arabia (KSA)
        </li>
        <li>
            Prof. V. B. Aggarwal, CEO, Pitambar Infovision, New Delhi (INDIA)
        </li>
        <li>
            Dr. Hasmukh Morarji, Queensland University of Technology, Brisbane, Queensland, (AUSTRALIA)
        </li>
        <li>
            Prof. A. K. Verma, IIT Mumbai (INDIA)
        </li>
        <li>
            Prof. Subir Kumar Saha, IIT Delhi, (INDIA)
        </li>
        <li>
            Prof. P. C. Saxena, JNU, New Delhi (INDIA)
        </li>
        <li>
            Prof. Asoke De, NIT Patna (INDIA)
        </li>
        <li>
            Dr. Shantaram Vasikarla, American InterContinental University, Los Angeles (USA)
        </li>
        <li>
            Dr. Atif Iqbal, Qatar University, Doha (QATAR)
        </li>
        <li>
            Dr. Saif Ahmad, University of Ottawa, Ottawa, Ontario (CANADA)
        </li>
        <li>
            Dr. Omar Farooq, AMU, Aligarh (INDIA)
        </li>
        <li>
            Dr. Bimlesh Wadhwa, National University of Singapore, Singapore (JAPAN)
        </li>
        <li>
            Prof. B. V. R. Reddy, GGSIPU, New Delhi (INDIA)
        </li>
        <li>
            Prof. Navin Rajpal, GGSIPU, New Delhi (INDIA)
        </li>
        <li>
            Dr. Yaser Mahmood A. Hamid, University of Aden, Aden (YEMEN)
        </li>
        <li>
            Dr. Anwar M. Mirza, FAST National Univ. of Comp. & Emerging Sciences, Islamabad (PAKISTAN)
        </li>
        <li>
            Prof. M. Sundaresan, Bharathiar University, Coimbatore (INDIA)
        </li>
        <li>
            Prof. K. S. Ravichandran, Sastra University, Thanjavur (INDIA)
        </li>
        <li>
            Prof. Mohammad Abulaish, South Asian University, New Delhi (INDIA)
        </li>
        <li>
            Prof. S. K. Muttoo, Delhi University, Delhi (INDIA)
        </li>
        <li>
            Prof. Naveen Kumar, Delhi University, Delhi (INDIA)
        </li>

        <li>
            Prof. Girija Chetty, University of Canberra (AUSTRALIA)
        </li>
        <li>
            Prof. Dipti Prasad Mukherji, ISI Kolkata (INDIA)
        </li>
        <li>
            Prof. D. M. Kulkarni, BITS Pilani, Goa Campus, Goa (INDIA)
        </li>
        <li>
            Prof. Quasim Rafique, AMU, Aligarh (INDIA)
        </li>
        <li>
            Prof. G. L. Pahuja, NIT Kurukshetra, Kurukshetra (INDIA)
        </li>
        <li>
            Shri Shekhar Sahasrabudhe, Persistent, Pune (INDIA)
        </li>
        <li>
            Dr. Ki-Young Song, The University of Tokyo, Tokyo (JAPAN)
        </li>
        <li>
            Prof. C. S. Rai, USICT, GGSIP University, New Delhi (INDIA)
        </li>
        <li>
            Prof. Amit Saxena, GG University, Bilaspur (INDIA)
        </li>
        <li>
            Prof. Prerna Gaur, NSUT, New Delhi (INDIA)
        </li>
        <li>
            Prof. Naresh Chauhan, YMCA, Faridabad (INDIA)
        </li>
        <li>
            Prof. Nesar Ahmad, AMU, Aligarh (INDIA)
        </li>
        <li>
            Prof. T. V. Gopal, Anna University, Chennai (INDIA)
        </li>
        <li>
            Prof. Bharat Gupta, Sharda University, Greater Noida (INDIA)
        </li>
        <li>
            Dr. Murli Mohan, DST, Ministry of Sc. and Technology, Govt. of India, New Delhi (INDIA)
        </li>
        <li>
            Prof. Devendra Tayal, IGDTUW, Delhi (INDIA)
        </li>
        <li>
            Prof. Devendra Mehta, JNU, Jodhpur (INDIA)
        </li>
        <li>
            Prof. Dayanand G Savakar, CoE, Bijapur (INDIA)
        </li>
        <li>
            Dr. Ashutosh Dixit, YMCAUST, Faridabad (INDIA)
        </li>

        <li>
            Prof. Arvinder Kaur, USICT, GGSIP University, New Delhi (INDIA)
        </li>
        <li>
            Prof. S. A. M Rizvi, JMI, New Delhi (INDIA)
        </li>
        <li>
            Prof. D. N. Goswami, Jiwaji University, Gwalior (INDIA)
        </li>
        <li>
            Prof. M. P. S. Bhatia, NSUT, New Delhi (INDIA)
        </li>
        <li>
            Prof. D. P. Mukherjee, ISI, Kolkata (INDIA)
        </li>
        <li>
            Prof. D. P. Goyal, IIM, Shillong (INDIA)
        </li>
        <li>
            Prof. Dharmendra Kumar, GJU, Hisar (INDIA)
        </li>
        <li>
            Prof. H. R. Vishwakarma, VIT, Vellore (INDIA)
        </li>
        <li>
            Prof. Salim Beg, AMU, Aligarh (INDIA)
        </li>
        <li>
            Dr. Nurul Fadly Bin Habidin, University Pendidikan Sultan Idris (MALAYSIA)
        </li>
        <li>
            Prof. Hardeep Singh, GNDU, Amritsar (INDIA)
        </li>
        <li>
            Dr. Vinay Chavan, Nagpur University, Maharashtra (INDIA)
        </li>
        <li>
            Prof. Aman Sharma, HPU, Shimla (INDIA)
        </li>
        <li>
            Prof. V.K. Bhatia, GKV, Haridwar (INDIA)
        </li>
        <li>
            Dr. P. K. Malhotra, IASRI, New Delhi (INDIA)
        </li>
        <li>
            Shri S. C. Dhawan, CSIR, New Delhi (INDIA)
        </li>
        <li>
            Dr. I. P. Singh, CSIR, New Delhi (INDIA)
        </li>
        <li>
            Prof. Ajit Singh, BPSMV, Sonipat (INDIA)
        </li>
        <li>
            Dr. B. S. Sawant, Shivaji University, Kolhapur (INDIA)
        </li>
        <li>
            Prof. Sumant Katiyal, DAV, Indore (INDIA)
        </li>

        <li>
            Dr. Neelam Duhan, YMCAUST, Faridabad, Haryana (INDIA)
        </li>
        <li>
            Dr. Vijay Kumar, MRIU, Faridabad, Haryana (INDIA)
        </li>
        <li>
            Dr. Uzzal Sharma, DBU, Assam (INDIA)
        </li>
        <li>
            Dr. Shruti Jain, JUIT, Solan, H. P. (INDIA)
        </li>
        <li>
            Dr. Meenakshi Sood, JUIT, Solan, H. P. (INDIA)
        </li>
        <li>
            Dr. Preeta Sharan, OCE, Bangalore (INDIA)
        </li>
        <li>
            Dr. G. M. Nasira, CGAC, Tiruppur, (INDIA)
        </li>
        <li>
            Dr. Ashwani Kush, KU, Kurukshetra (INDIA)
        </li>
        <li>
            Dr. P. K. Singh, JUIT, Solan, H. P. (INDIA)
        </li>
        <li>
            Dr. S. K. Dubey, Amity University, Noida, Uttar Pradesh (INDIA)
        </li>
        <li>
            Dr. Akansha Singh, NCU Gurgaon, Haryana (INDIA)
        </li>
        <li>
            Dr. Tapan Kumar Gandhi, IIT Delhi, New Delhi (INDIA)
        </li>
        <li>
            Dr. Amita Malik, DCRUST, Murthal, Haryana (INDIA)
        </li>
        <li>
            Dr. Parul Gandhi, MRIU, Faridabad, Haryana (INDIA)
        </li>
        <li>
            Dr. B. K. Mishra, CVRCE, Bhubaneswar (INDIA)
        </li>
        <li>
            Dr. Pratiksha Saxena, G. B. U., Gr. Noida, Uttar Pradesh (INDIA)
        </li>
        <li>
            Dr. Usha Batra, G. D. Goenka University, Gurgaon, Haryana (INDIA)
        </li>
        <li>
            Dr. Swati Aggarwal, NSIT, Delhi (INDIA)
        </li>
        <li>
            Dr. Neelam Ruhil, DCE, Gurgaon, Haryana (INDIA)
        </li>
        <li>
            Dr Sangeeta Ahuja, IASRI, New Delhi (INDIA)
        <li>
            Dr. K. K. Singh, DCE, Gurgaon, Haryana (INDIA)
        </li>
        <li>
            Dr. R. Sridaran, MEFGI, Rajkot (INDIA)
        </li>
        <li>
            Dr. Sunil Karamchandani, DJSCE, Mumbai (INDIA)
        </li>
        <li>
            Dr. R. S. Rao, AIACTR, Delhi (INDIA)
        </li>
        <li>
            Dr. B. B. Sagar, BIT, Mesra, Extension Centre, Noida (INDIA)
        </li>
        <li>
            Prof. Tamanna Siddiqui, AMU, Aligarh (INDIA)
        </li>
        <li>
            Dr. Sanjiv Sahu, IGDTU, Delhi (INDIA)
        </li>
        <li>
            Dr. Arman Rasool Faridi, AMU, Aligarh (INDIA)
        </li>
        <li>
            Dr. Javed Ahmad, Jamia Hamdard, New Delhi (INDIA)
        </li>
        <li>
            Dr. Safdar Tanweer, Jamia Hamdard, New Delhi (INDIA)
        </li>
        <li>
            Dr. G. Vithya, St. Joseph's Institute of Technology, Tamil Nadu.
        </li>
        <li>
            Dr. Rajveer Mittal, Maharaja Agrasen Institute of Technology, New Delhi
        </li>
        <li>
            Dr. Satendra Kumar, UPES, Dehradun
        </li>
        <li>
            Dr. Shalini Batra, Thapar University, Patiala (INDIA)
        </li>
        <li>
            Dr. Shalini Batra, Thapar University, Patiala
        </li>
        <li>
            Dr. Sufian Yousef, Anglia Ruskin University, Chelmsford Campus, Chelmsford, UK
        </li>
        <li>
            Dr. Vijai Kumar, Siena (INDIA)
        </li>
        <li>
            Md Zeyauddin, AMU, Aligarh (INDIA)
        </li>
        <li>
            Mr. Achin Jain, BVCOE, New Delhi
        </li>
        <li>
            Mr. Avadhesh Kumar Dixit, Dr. Ram Manohar Lohia Avadh University, Ayodhya
        </li>
        <li>
            Prof. P. K. Pattnaik, KIIT University, Odisha, India
        </li>
        <li>
            Prof. Nguyen Gia Nhu, Graduate School, Duytan University, Viet Nam
        </li>
        <li>
            A. K. Saini, University School of Management Studies, India
        </li>
        <li>
            A. Ramesh Babu, BVR Institute of Technology, Medak, Telangana, India
        </li>
        <li>
            Aarti Singh, M.M.I.C.T. & B.M., M.M.U., India
        </li>
        <li>
            Aarti Singh, M.M.I.C.T. & B.M., M.M.U., INDIA.
        </li>
        <li>
            Abhineet Anand, CIT, UPES
        </li>
        <li>
            Achintya Das, KGEC, Kalyani, India
        </li>
        <li>
            Aishwarya Kaul, Bharati Vidyapeeth's College of Engineering (BVCOE), New Delhi (INDIA)
        </li>
        <li>
            Akash Raghuvanshi, Seth Vishambhar Nath, Barabanki (INDIA)
        </li>

        <li>
            Akash Sharma, Bharati Vidyapeeth's Institute of Management and Research (BVIMR), New Delhi (INDIA)
        </li>
        <li>
            Akhilendra Pratap Singh, Dept. of CSE, National Institute of Technology, Meghalaya
        </li>
        <li>
            Amira S. Ashour, Tanta Univ., EGYPT & Taif University, SAUDI ARABIA.
        </li>
        <li>
            Amit Aylani, Vidyalankar Institute of Technology, Maharashtra
        </li>
        <li>
            Amit Chaudhary, Bharati Vidyapeeth's Institute of Management and Research (BVIMR), New Delhi (INDIA)
        </li>
        <li>
            Amit Dua, BITS, Pilani
        </li>
        <li>
            Amit Dua, DIT University, Dehradun
        </li>
        <li>
            Amit Grover, SBS State Technical Campus, Ferozepur
        </li>
        <li>
            Amit Pratap Singh, Sharda University, Gr. Noida
        </li>
        <li>
            Amr Abdel-Dayem, Laurentian University, Canada
        </li>
        <li>
            Anil Kumar Rose, Chandigarh College Of Engineering And Technology, Sector-26, Chandigarh
        </li>
        <li>
            Anis Laouiti, Telcom Sud Paris, France
        </li>
        <li>
            Anita Khanna, Guru Ghasidas Vishwavidalaya, Bilaspur (INDIA)
        </li>
        <li>
            Ankit Garg, Chandigarh University
        </li>
        <li>
            Ankita Wadhawan, LPU, Jalandhar, Punjab
        </li>
        <li>
            Ankur Bhardwaj, KIET, Group of Institutions, Ghaziabad (INDIA)
        </li>
        <li>
            Ankur Dumka, CIT, UPES
        </li>
        <li>
            Ankur Gupta, Chandigarh University
        </li>
        <li>
            Ankur Saxena, Amity University, Noida, Uttar Pradesh
        </li>
        <li>
            Annapurna Nagosa Solanki, Karnatak University, Dharwad
        </li>
        <li>
            Antara Sinha, JBS, Noida
        </li>
        <li>
            Anuj Kumar Dwivedi, School of CS & IT, Pt. R. S. University Raipur (CG)
        </li>
        <li>
            Anwar Basha H, REVA University
        </li>
        <li>
            Apoorva Shripad Patil, Karnatak University, Dharwad
        </li>

        <li>
            Bhagwati Sharan, SRM University, Andhra Pradesh
        </li>
        <li>
            Biplav Srivastav, IBM Research, India
        </li>
        <li>
            Bishwajeet Pandey, Gran Sasoo Science Institute Italy
        </li>
        <li>
            Bisma Sultan, University Of Kashmir
        </li>
        <li>
            Buddha Singh, JNU, New Delhi
        </li>
        <li>
            C. M. Sharma, BPIT Delhi, India
        </li>
        <li>
            C.Balakrishnan, Department of CSE, S.A.Engineering College, Thiruverkadu, Chennai (INDIA)
        </li>
        <li>
            Chander Charu Tripathi, University Institute of Engineering and Technology, Kurukshetra University, Kurukshetra (INDIA)
        </li>
        <li>
            Chandrakanta Badajena, OUTR, Bhubaneswar
        </li>
        <li>
            Chetana Prakash, Bapuji Institute of Engineering and Technology (India)
        </li>
        <li>
            Cornelia Victoria Anghel Drugarin, Eftimie Murgu University of Reșița, ROMANIA
        </li>
        <li>
            CS Vinitha, AIACTR, Govt. of NCT of Delhi
        </li>
        <li>
            D. G Jyothi, Bangalore Institute of Technology (India)
        </li>
        <li>
            D. R. Das Adhikary, GGSES Bokaro (INDIA)
        </li>
        <li>
            Dac-Nhuong Le, Haiphong University, Vietnam
        </li>
        <li>
            Dalwinder Singh, LPU, Jalandhar, Punjab
        </li>
        <li>
            David Yau, Singapore University of Technology and Design, Singapore
        </li>

        <li>
            Dr Akhil Khare, Maturi Venkata Subba Rao (MVSR) Engineering College
        </li>
        <li>
            Dr Alka Arora, Senior Scientist, IASRI, New Delhi (INDIA)
        </li>
        <li>
            Dr Aman Jatain, Amity University Haryana Gurgaon
        </li>
        <li>
            Dr Aman Jatain, Amity University Haryana, Gurgaon
        </li>
        <li>
            Dr Aman Jatain, Amity University, Gurgaon
        </li>
        <li>
            Dr Amrita, Banasthali Vidyapith, Jaipur
        </li>
        <li>
            Dr Amy Kalia, MIT, USA
        </li>
        <li>
            Dr Anand Prakash Ruhil, Principal Scientist, ASRB, New Delhi (INDIA)
        </li>
        <li>
            Dr Anand Sharma, CET, Mody University, Rajasthan, India
        </li>
        <li>
            Dr Anil Ahlawat, KIET, Ghaziabad (INDIA)
        </li>
        <li>
            Dr Anita Chaware, SNDT, Maharashtra (India)
        </li>
        <li>
            Dr Anshu Bharadwaj, Scientist, IASRI (INDIA)
        </li>
        <li>
            Dr Anu Manchanda, CMR Institute of Technology, Bengaluru
        </li>
        <li>
            Dr Anu Manchanda, Walijat College of Applied Sciences, Muscat (INDIA)
        </li>
        <li>
            Dr Arjun Mane, Government Institute of Forensic Science, Nagpur (INDIA)
        </li>
        <li>
            Dr Arshia Kaul, Zenith Consultancies, Faridabad
        </li>

        <li>
            Dr Gaurav Agarwal, Amity University, Tashkent
        </li>
        <li>
            Dr Gaytri Dhingra, GVM Institute of Technology and Management, Sonepat (INDIA)
        </li>
        <li>
            Dr Harvir Singh
        </li>
        <li>
            Dr Hossein Nejati, SUTD, Singapore
        </li>
        <li>
            Dr J. Kandaswamy, Maturi Venkata Subba Rao (MVSR) Engineering College
        </li>
        <li>
            Dr Jagdish Patni, University of Energy & Petrolium Studies, Dehradun UP
        </li>
        <li>
            Dr Khushboo Tripathi, Amity University Gurgoan, Haryana
        </li>
        <li>
            Dr Khushboo Tripathi, Amity University Gurgoan, Haryana
        </li>
        <li>
            Dr Krishan Kumar, Gurukul Kangri University, Haridwar
        </li>
        <li>
            Dr Laxmi Ahuja, Amity University, Uttar Pradesh (INDIA)
        </li>
        <li>
            Dr M. K. Sharma, Amrapali Group of Institutions, Haldwani
        </li>
        <li>
            Dr M. Umadevi, Vignan Foundation for Science Technology and Research
        </li>
        <li>
            Dr M. K. Sharma, Amrapali Institute of Haldwani
        </li>
        <li>
            Dr Mahendra Kondekar, Marathwada Institute of Technology, Aurangabad, Maharashtra (INDIA)
        </li>

        <li>
            Dr R. Sandhya Rani, Maturi Venkata Subba Rao (MVSR) Engineering College
        </li>
        <li>
            Dr Raghavendra Singh, IBM, India
        </li>
        <li>
            Dr Rajeev Kumar, Teerthanker Mahaveer University, Moradabad
        </li>
        <li>
            Dr Rajendra Kumar Bharti, Associate Professor Computer Science & Engineering B.T. Kumaon Institute Of Technology, Dwarahat, Almora, Uttarakhand
        </li>
        <li>
            Dr Rajesh Attri, YMCAUST, Faridabad
        </li>
        <li>
            Dr Rajesh Kumar, Thapar University, Patiala (INDIA)
        </li>
        <li>
            Dr Rajkumar, Gurukul Kangri University, Haridwar
        </li>
        <li>
            Dr Rajni Sehgal, Amity University, Noida
        </li>
        <li>
            Dr Rama Rao P.V.V, Maturi Venkata Subba Rao (MVSR) Engineering College
        </li>
        <li>
            Dr Ramasubramanian Vaidhyanathan, Principal Scientist, Central Institute of Fisheries Education (CIFE), Mumbai (INDIA)
        </li>
        <li>
            Dr Rashmi Gupta, AIACT& R, Delhi
        </li>
        <li>
            Dr Rekha Vig, The Northcap University, Gurugram
        </li>
        <li>
            Dr Renuka Nagpal, Amity University, Noida
        </li>
        <li>
            Dr Ritu Garg, NIT Kurukshetra
        </li>
        <li>
            Dr Ruchi Agarwal
        </li>
        <li>
            Dr Ruchi Sehrawat, GGIPU University
        </li>
        <li>
            Dr S K Dwivedi, Babasaheb BhimRao Ambedkar University
        </li>
        <li>
            Dr S P Singh, Amity Institute of Biotechnology, Amity University, Lucknow Campus
        </li>
        <li>
            Dr S P Tripathi, Institute of Engineering and Technology, Lucknow
        </li>
        <li>
            Dr S. Murugan, Manonmaniam Sundaranar University, Tirunelveli (INDIA)
        </li>
        <li>
            Dr S.V.R Manimala, Maturi Venkata Subba Rao (MVSR) Engineering College
        </li>
        <li>
            Dr Sahebrao Shinde, Commerce, Management and Computer Science(CMCS) College Udoji Maratha Boarding Campus, Gangapur Road, Nashik (INDIA)
        </li>
        <li>
            Dr Sandeep Kumar, NIT, Delhi
        </li>
        <li>
            Dr Santosh Kumar, ITE Department, Pandit Deendayal Energy University Gandhinagar Gujarat
        </li>

        <li>
            Dr Savita Kohle, Senior Scientist, IASRI (INDIA)
        </li>
        <li>
            Dr Shaifali Madan Arora, MSIT, New Delhi
        </li>
        <li>
            Dr Sharad Khattar, AIBS, Amity University Uttar Pradesh
        </li>
        <li>
            Dr Sharda Vashisth, The Northcap University, Gurugram
        </li>
        <li>
            Dr Shaveta Arora, The Northcap University, Gurugram
        </li>
        <li>
            Dr Shweta Sinha, Amity University Haryana Gurgaon
        </li>
        <li>
            Dr Siddhartha Choubey, Professor, CSE department, Shri Shankaracharya Technical Campus- Shri Shankaracharya Group of Institutions, Faculty of Engineering and Technology, Department of Computer Science and Engineering, Junwani Road, Smriti Nagar, Bhilai
        </li>
        <li>
            Dr Simarpreet Singh, Chandigarh University
        </li>
        <li>
            Dr Sonia Duggal, Manav Rachna International Institute of Research and Studies, Faridabad
        </li>
        <li>
            Dr Soumitra Das, Professor & HOD CSE Indira College of Engineering and Management, Pune Maharashtra 410506
        </li>
        <li>
            Dr Srishti, The NorthCap University
        </li>
        <li>
            Dr Sudeep Marwaha, Senior Scientist, IASRI, New Delhi (INDIA)
        </li>
        <li>
            Dr Surender Soni, ECED, NIT Hamirpur (INDIA)
        </li>
        <li>
            Dr Surender Soni, NIT, Hamirpur
        </li>
        <li>
            Dr V S Verma, DDU Gorakhpur University, Gorakhpur UP India
        </li>
        <li>
            Dr Vikas Thada, Amity University Haryana Gurgaon
        </li>
        <li>
            Dr Vikas Thada, Amity University Haryana, Gurgaon
        </li>
        <li>
            Dr Vinay Chavan, Dept. of Computer Science, Seth Kesarimal Porwal College, Kamptee, Distt. Nagpur (M.S.)
        </li>
        <li>
            Dr Vinod Kumar, Amity University, Noida, U.P. (INDIA)
        </li>
        <li>
            Dr. S. Prakash, Director Research Nehru Inst. of Engg & Tech, Anna University India
        </li>
        <li>
            Dr. Amit Manocha, Maharaja Agrasen Institute of Technology, Maharaja Agrasen University, Baddi, H.P. India
        </li>
        <li>
            Dr. D. N Sujatha, B M S College of Engineering, Bangalore, Karnataka
        </li>
        <li>
            Dr. Fency Var Sivadasan, SEGI University, Malaysia
        </li>
        <li>
            Dr. Harvir Singh, HCE, Sonepat (INDIA)
        </li>
        <li>
            Dr. Lavanya Sharma, Uttarakhand Technical University, Dehradun, UK, India
        </li>
        <li>
            Dr. Omkar, NIT Srinagar
        </li>
        <li>
            Dr. Prakash Kumar Ray, CET, Bhubaneswar
        </li>
        <li>
            Dr. (Prof.) TING Huong Yiew (Hiram), SEGI University, Malaysia
        </li>
        <li>
            Dr. A. A. Nimje, Dean, R & D Cell; Associate Professor, Electrical Engineering, GNIET, Nagpur, India
        </li>

        <li>
            Dr. A. A. Nimje, GNIET, Nagpur. India
        </li>
        <li>
            Dr. A. A. Nimje, Nurma University
        </li>
        <li>
            Dr. A. ANBARASI, LRG Government Arts College, Tiruppur
        </li>
        <li>
            Dr. A. Charan Kumari, ITMU Gurgaon, India
        </li>
        <li>
            Dr. A. Chitra, Professor & HoD, Dept. of Computer Applications, PSG College of Technology, Coimbatore, India
        </li>
        <li>
            Dr. A. Immanuel Selvakumar, Professor & HoD, Karunya University, India
        </li>
        <li>
            Dr. A. Jaya, B. S. Abdur Rahman Crescent Institute of Science and Technology, Tamilnadu
        </li>
        <li>
            Dr. A. John Prakash, Anna University, Chennai
        </li>
        <li>
            Dr. A. K. Jain, AKMU, IARI, New Delhi (INDIA)
        </li>
        <li>
            Dr. A. K. Mehta, NIT Jamshedpur
        </li>
        <li>
            Dr. A. K. Santra, VIT University, Vellore (INDIA)
        </li>
        <li>
            Dr. A. K. Sharma, BSA Institute of Technology & Management, Faridabad (INDIA)
        </li>
        <li>
            Dr. A. Karthikeyan, SNS College of Technology, Tamil Nadu
        </li>
        <li>
            Dr. A. Krishnaand, Srinidhi Engineering College, Hyderabad
        </li>
        <li>
            Dr. A. Mahadevan, Department of Management Studies, Adigrat University, Adigrat, Ethiopia
        </li>
        <li>
            Dr. A. Nagaraju, Central University of Rajasthan, Ajmer, Rajasthan (INDIA)
        </li>
        <li>
            Dr. A. Neela Madheswari, Mahendra Engineering College, Trichengode, Tamilnadu
        </li>
        <li>
            Dr. A. Prasanth, Sri Venkateswara College of Engineering, Sriperumbudur
        </li>
        <li>
            Dr. A. Rajeswari, Coimbatore Institute of Technology, Coimbatore (INDIA)
        </li>
        <li>
            Dr. A. Ranichitra, Sri SRNM College, Sattur (INDIA)
        </li>
        <li>
            Dr. A. S. Anakath, E.G. Spillay Engineering College, Tamilnadu
        </li>
        <li>
            Dr. A. Sabarirajan, PSNA College of Engineering & Technology, Tamilnadu (INDIA)
        </li>
        <li>
            Dr. A. Vasuki, Kumaraguru College of Technology, Coimbatore.
        </li>
        <li>
            Dr. A.K. Shastri, AYUSH, New Delhi, India
        </li>
        <li>
            Dr. Aarti Jain, AIACTR, Delhi (INDIA)
        </li>
        <li>
            Dr. Aashdeep Singh, Punjab Institute of Technology, MRSPTU, Bathinda, Punjab
        </li>
        <li>
            Dr. Aashi Kumar Bohre, National Institute of Technology Durgapur (NITDgp), West Bengal, India
        </li>
        <li>
            Dr. Abdelhalim Zekry, Ain Shams University, Cairo, Egypt.
        </li>
        <li>
            Dr. Abdul Rahman, Debre Tabor University Ethiopia
        </li>
        <li>
            Dr. Abhay Agarwal, Dept. of Computer Science &amp; Engineering, KNIT Sultanpur
        </li>
        <li>
            Dr. Abhay Agarwal, Dept. of Computer Science &amp; Engineering, KNIT Sultanpur (U.P.)
        </li>
        <li>
            Dr. Abhay Saxena, Dev Sanskriti University , Haridwar (INDIA)
        </li>
        <li>
            Dr. Abhay Saxena, DSVV, Haridwar
        </li>
        <li>
            Dr. Abhilasha Jain, GZSCCET, Bathinda
        </li>
        <li>
            Dr. Abhineet Anand, University of Petroleum and Energy Studies
        </li>
        <li>
            Dr. Abhineet Anand, University of Petroleum and Energy Studies, Dehradun (INDIA)
        </li>
        <li>
            Dr. Abhiruchi Passi, MRIIRS, Faridabad
        </li>
        <li>
            Dr. Abhishek Bansal, Indira Gandhi National Tribal University, Amarkantak, MP (INDIA)
        </li>
        <li>
            Dr. Abhishek Swaroop, BPIT, New Delhi
        </li>
        <li>
            Dr. Abhishek Swaroop, Galgotia University, Greater Noida (INDIA)
        </li>
        <li>
            Dr. Achyut Shankar, University of Johannesburg, South Africa
        </li>
        <li>
            Dr. Adarsh Preet Mehta, Principal/Director; Dev Raj Group’s Technical Campus; Ferozepur (Punjab) India
        </li>
        <li>
            Dr. AdarshMangal, Dept. of Mathematics, Govt. Engg. College, Ajmer
        </li>
        <li>
            Dr. Addapalli VN Krishna, Faculty of Engineering , Christ University (INDIA)
        </li>
        <li>
            Dr. Adesh Kumar, University of Petroleum &amp; Energy Studies, Dehradun (INDIA)
        </li>
        <li>
            Dr. Adesh Kumar, Shri Lal Bahadur Shastri Rashtriya Sanskrit Vidyapeetha, New Delhi (INDIA)
        </li>
        <li>
            Dr. Adesh Kumar, University of Petroleum &amp; Energy Studies, Dehradun (INDIA)
        </li>
        <li>
            Dr. Adesh Kumar, UPES, Dehradun
        </li>
        <li>
            Dr. Adesh Kumar, UPES, Dehradun (INDIA)
        </li>
        <li>
            Dr. Adesh Kumar Sharma, NDRI, Karnal
        </li>

        <li>
            Dr. Akash Dua, Max Hospital, New Delhi, India
        </li>
        <li>
            Dr. Akheela Khanum, Department of CSE, Integral University, Lucknow
        </li>
        <li>
            Dr. Akhil Khare, MVSR College, Hyderabad
        </li>
        <li>
            Dr. Akhilendra Pratap Singh, National Institute of Technology, Meghalaya, India
        </li>
        <li>
            Dr. Akram Basha, REVA University
        </li>
        <li>
            Dr. Akshay Girdhar, Guru Nanak Dev Engineering College, Ludhiana, India
        </li>
        <li>
            Dr. Akshay Kumar Rathore, National University of Singapore, Singapore
        </li>
        <li>
            Dr. Akshi Kumar, DTU, Delhi
        </li>
        <li>
            Dr. Alka Arora, IASRI, New Delhi
        </li>

        <li>
            Dr. Anil Bhardwaj, SMVDU, J&amp;K
        </li>
        <li>
            Dr. Anil Bikash Chaudhuri, Techno India University
        </li>
        <li>
            Dr. Anil Kr. Bhadauria, MNNIT, Allahabad (INDIA)
        </li>
        <li>
            Dr. Anil Kumar, KIET, Ghaziabad (INDIA)
        </li>
        <li>
            Dr. Anil Kumar, Tula's Institute, Dehradun
        </li>
        <li>
            Dr. Anil Kumar Dubey, ABES Ghaziabad
        </li>
        <li>
            Dr. Anil Kumar Sagar, Galgotias University, Greater Noida (INDIA)
        </li>
        <li>
            Dr. Anil Kumar Verma, Thapar University, Patiala (INDIA)
        </li>
        <li>
            Dr. Anil Sharma, Lovely Professional University, Phagwara, Punjab (INDIA)
        </li>
        <li>
            Dr. Anirban Mitra, VITAM, Berhampur (INDIA)
        </li>

        <li>
            Dr. Arvind Kumar Shukla, IFTM University, Moradabad, U.P.
        </li>
        <li>
            Dr. Arvind Sharma, Department of Computer Science, University of Kota, Kota
        </li>
        <li>
            Dr. Arvind Sharma, Department of Computer Science, University of Kota, Kota (Rajasthan)
        </li>
        <li>

            Dr. Ashima Kalra, Chandigarh Engineering College, Landran, Mohali
        </li>
        <li>

            Dr. Ashis Kumar Dhara, National Institute of Technology Durgapur (NITDgp), West Bengal, India
        </li>
        <li>
            Dr. Ashok Chandra, Indian Institute of Technology Bombay, India
        </li>
        <li>
            Dr. Ashok K. Goel, ECE Department, GZSCCET, Bathinda, Punjab, India
        </li>
        <li>
            Dr. Ashok Kumar, ECED, NIT Hamirpur (INDIA)
        </li>
        <li>
            Dr. Ashok Kumar, National Institute of Technology Hamirpur (HP)
        </li>
        <li>
            Dr. Ashok Kumar Goel, GZSCCET Bhatinda
        </li>

        <li>Dr. B. Santhi, SASTRA Deemed to be University</li>
        <li>Dr. B. Vinodh Kumar, VVIT, Dharmapuri, T.N (INDIA)</li>
        <li>Dr. B.B. Pandey, Principal, SAPKM, India</li>
        <li>Dr. B.B.Sagar, CSED, BITS, Noida</li>
        <li>Dr. B.S. Chowdhary, Mehran University of Engineering and Technology, Pakistan.</li>
        <li>Dr. Balachandar, Christ University, Bangalore (INDIA)</li>
        <li>Dr. Balakrishnan, NAARM, Hyderabad (INDIA)</li>
        <li>Dr. Balamurugan M, Faculty of Engineering, Christ University (INDIA)</li>
        <li>Dr. Balasaheb Bhamangol, Sinhgad Institute of Management, Pune (INDIA)</li>
        <li>Dr. Baljeet Singh, BBSBCET, Fatehgarh Sahib, Punjab, India</li>
        <li>Dr. Baljinder Singh, Govt. Rajindra College, Bathinda, Punjab</li>
        <li>Dr. Balkrishan, CE Section, Yadavindra College of Engineering, Talwandi Sabo, Punjab, India</li>
        <li>Dr. Balkrishna Eknath Narkhede, Prof &amp; Head Production Engineering, Veermata Jijabai Technological Institute, Matunga Road, Mumbai, Maharashtra, India</li>
        <li>Dr. Balwinder Raj, NIT Jalandhar</li>
        <li>Dr. Bankim Patel, SRIMCA, Uka Tarsadia University, Bardoli, Gujarat</li>
        <li>Dr. Basant Agarwal, SKIT, Jaipur, Rajasthan (INDIA)</li>
        <li>Dr. Bashir Alam, JMI, New Delhi, India</li>
        <li>Dr. Bhanu Pratap, NIT Kurukshetra, Kurukshetra</li>
        <li>Dr. Bharat Bhushan, Delhi Technological University, New Delhi (INDIA)</li>
        <li>Dr. Bharat Bhushan, Khalsa College</li>
        <li>Dr. Bharat Bhushan Sharma, NIT, Hamirpur (INDIA)</li>
        <li>Dr. Bharat J. R. Sahu, Siksha ‘O’ Anusandhan (Deemed to be University), Bhubaneswar, India</li>
        <li>Dr. Bharathiraja, SRM University (INDIA)</li>
        <li>Dr. Bharati Veerendra Wukkadada, K J S I M S and R, Mumbai (INDIA)</li>
        <li>Dr. Bharti Sharma, COER, Roorkee</li>
        <li>Dr. Bharti Waman Gawali, Professor, Department of Computer Science &amp; Information Technology, Dr. Babasaheb Ambedkar Marathwada University, Aurangabad (INDIA)</li>
        <li>Dr. Bhavanesh Kumar, NSIT, Delhi (INDIA)</li>
        <li>Dr. Bhavna Bajpai, Dr. C V Raman University Khandwa</li>
        <li>Dr. Bhavnesh Kumar, Netaji Subhas Institute of Technology, Dwarka, New Delhi (INDIA)</li>
        <li>Dr. Bhawna Agarwal, NSIT, Delhi</li>
        <li>Dr. Bhawna Aggarwal, NSIT, Delhi</li>
        <li>Dr. Bhawna Aggarwal, NSIT, Delhi (INDIA)</li>
        <li>Dr. Bhawna Aggarwal, NSIT, New Delhi</li>
        <li>Dr. Bhawna Goyal, Chandigarh University, Mohali, India</li>
        <li>Dr. Bhawna Narain, School of IT, MATS University, Raipur, Chhattisgarh</li>
        <li>Dr. Bhawna Suri, Bhagwan Parshuram Institute of Technology, New Delhi</li>
        <li>Dr. Bikrampal Kaur, Chandigarh Engineering College, Landran</li>
        <li>Dr. Bilal A Pandow, Bahrain Polytechnic, Bahrain</li>
        <li>Dr. Bindu Garg, Bharati Vidyapeeth's College of Engineering, Delhi (INDIA)</li>
        <li>Dr. Bindu Garg, Bharti Vidyapeeth College of Engineering, Delhi</li>
        <li>Dr. Binod, AISECT University, Jharkhand</li>
        <li>Dr. Binod Kumar, JSPM’s Jayawant Technical Campus, Pune, Maharashtra</li>
        <li>Dr. Biplav Srivastav, IBM Research, India</li>
        <li>Dr. Brajesh Kumar Singh, HMRITM, GGSIPU, Delhi</li>
        <li>Dr. Bright Keswani, Suresh Gyan Vihar University, Jaipur</li>
        <li>
            Dr. Bright Keswani, Suresh Gyanvihar University, Jaipur (INDIA)
        </li>
        <li>
            Dr. Brijesh Jajal, MU, Rajkot
        </li>
        <li>
            Dr. Brijesh Kumar Gupta, BRAANET Technologies Pvt. Ltd.
        </li>
        <li>
            Dr. Brijesh Kumar, Professor, MRIIRS
        </li>
        <li>
            Dr. Brojo Kishore Mishra, Gandhi Institute for Education and Technology, Baniatangi, Bhubaneswar
        </li>
        <li>
            Dr. Buddha Singh, Jawaharlal Nehru University, Delhi (INDIA)
        </li>
        <li>
            Dr. Buddha Singh, JNU, New Delhi
        </li>
        <li>
            Dr. C L Varshney, Shri Varshneya College Aligarh UP India
        </li>
        <li>
            Dr. C. B. Sivaparthipan, Department of Computer Science and Engineering, Adhiyamaan College of Engineering, India
        </li>
        <li>
            Dr. C. Divya, M S University, TamilNadu
        </li>
        <li>
            Dr. C. K. Kumbharana, Department of Computer Science, Saurashtra University, Rajkot, Gujarat
        </li>
        <li>
            Dr. C. K. Kumbharana, Saurashtra University, Rajkot
        </li>
        <li>
            Dr. C. K. Nagpal, YMCA University of Science & Technology, Faridabad (INDIA)
        </li>
        <li>
            Dr. C. K. Jha, Banasthali University, Banasthali, Rajasthan, (INDIA)
        </li>
        <li>
            Dr. C. K. Jha, Banasthali University, Banasthali, Rajasthan, INDIA
        </li>
        <li>
            Dr. C. S. R. Prashanth, New Horizon College of Engineering, Bangalore, India
        </li>
        <li>
            Dr. C. Vasanthanayaki, Government College of Technology, Coimbatore (INDIA)
        </li>
        <li>
            Dr. C. Vasanthanayaki, Kumaraguru College of Technology, Coimbatore (INDIA)
        </li>
        <li>
            Dr. C. Velayutham, Aditanar College of Arts and Science, Tamilnadu(INDIA)
        </li>
        <li>
            Dr. C. Vijayakumar, SRM Institute of Science and Technology
        </li>
        <li>
            Dr. Ch. Sudheer, Gitam University, India
        </li>
        <li>
            Dr. Chandan, UGC, New Delhi
        </li>

        <li>
            Dr. Chandrappa D, PES Institute of Technology, Karnataka
        </li>
        <li>
            Dr. Charu, Jaypee University, Noida
        </li>
        <li>
            Dr. Chinmay Chakaraborty, BIT Mesra, Jharkhand
        </li>
        <li>
            Dr. Chinnasamy, MLR Institute of Technology, Hyderabad
        </li>
        <li>
            Dr. Chitra, DJ Academy, Coimbatore (INDIA)
        </li>
        <li>
            Dr. D M Akbar Hussain, Aalborg University (Denmark)
        </li>
        <li>
            Dr. D P Kothari, Director Research Gaikwad Patil Group of Institutions Nagpur India
        </li>
        <li>
            Dr. D P Kothari, Director Research Gaikwad-Patil Group of Institutions Nagpur India
        </li>
        <li>
            Dr. D P Kothari, Former VC VIT University Vellore India
        </li>
        <li>
            Dr. D. A. Khan, NIT Jamshedpur
        </li>
        <li>
            Dr. D. Ajitha, Sreenidhi Institute of Science and Technology, Hyderabad
        </li>
        <li>
            Dr. D. B. Kadam, PVPIT, Budhgoan (INDIA)
        </li>
        <li>
            Dr. D. Jeyabharathi, Sri Krishna College of Technology, Coimbatore
        </li>
        <li>
            Dr. D. K. Saw, NIT Jamshedpur
        </li>
        <li>
            Dr. D. K. Sharma, NSIT, New Delhi (INDIA)
        </li>
        <li>
            Dr. D. K. Yadav, Motilal Nehru National Institute of Technology, Allahabad (INDIA)
        </li>
        <li>
            Dr. D. Kesavaraja, Dr. Sivanthi Aditanar College of Engineering, Tiruchendur
        </li>
        <li>
            Dr. D. M. Mamatha, SPMVV, Tirupati
        </li>

        <li>
            Dr. D. P. Mohapatra, NIT, Rourkela, Odissa, India
        </li>
        <li>
            Dr. D. S. Kushwaha, Motilal Nehru National Institute of Technology, Allahabad (UP)
        </li>
        <li>
            Dr. D. Suryanarayana, Vishnu Institute of Technology
        </li>
        <li>
            Dr. D.K. Ghosh, Head and Professor, Saurashtra University, Gujrat, India
        </li>
        <li>
            Dr. D.K. Ghosh, Saurashtra University, Gujrat, India
        </li>
        <li>
            Dr. D.K. Jain, DCRUST, Murthal, Haryana, India
        </li>
        <li>
            Dr. D.K. Yadav, Motilal Nehru National Institute of Technology, Allahabad (INDIA)
        </li>
        <li>
            Dr. D.M.Akbar Hussain, Alborg University, Denmark.
        </li>
        <li>
            Dr. D.R.Denslin Brabin, DMI College of Engineering, India
        </li>
        <li>
            Dr. D.Venkatesan, SASTRA Deemed to be University
        </li>
        <li>
            Dr. Dalwinder Mangal, Geeta Institute of Management and Technology, Kurukshetra, India
        </li>
        <li>
            Dr. Davinder Rathee, Maharaja Agrasen University, Himachal Pradesh, India
        </li>
        <li>
            Dr. Daya Gupta, Delhi Technological University, Delhi
        </li>
        <li>
            Dr. Debashish Pradhan, DIAT, Pune
        </li>

        <li>
            Dr. Deena Nath Gupta, C-DAC, Mumbai, Maharashtra, India
        </li>
        <li>
            Dr. Deepa Bura, Associate Professor, MRIIRS
        </li>
        <li>
            Dr. Deepak Arora, Integral University, Lucknow (INDIA)
        </li>
        <li>
            Dr. Deepak Kumar, Amity University, Uttar Pradesh (INDIA)
        </li>
        <li>
            Dr. Deepak Sinwar, Manipal University, Jaipur - 302001, Rajasthan, India
        </li>
        <li>
            Dr. Deepali Kamthania, Associate Professor, Vivekanand Institute of Professional Studies, Delhi (INDIA)
        </li>
        <li>
            Dr. Deepankar Chakrabarti, Jaipuria Institute of Management
        </li>
        <li>
            Dr. Deepankar Chakrabarti, Jaipuria Institute of Management, Noida
        </li>
        <li>
            Dr. Deepshikha Agarwal, Amity University, Lucknow
        </li>
        <li>
            Dr. Deepshikha Agarwal, IIIT Lucknow
        </li>
        <li>
            Dr. Deepti Gaur, ITMU Gurgaon, India
        </li>
        <li>
            Dr. Deepti Kakkar, NIT Jalandhar
        </li>
        <li>
            Dr. Deven Shah, Thakur College of Engineering & Technology, Mumbai
        </li>
        <li>
            Dr. Devendra K Tayal, IGDTUW, Delhi (INDIA)
        </li>
        <li>
            Dr. Devendra Kumar Tayal, IGDTUW, New Delhi
        </li>
        <li>
            Dr. Devendra Prasad, Chitkara University
        </li>
        <li>
            Dr. Devendra Singh, IFTM University, Moradabad, U.P.
        </li>
        <li>
            Dr. Devershi Pallavi, Manipal University, Jaipur
        </li>
        <li>
            Dr. Devesh Katiyar, DSMNRU, Lucknow
        </li>
        <li>
            Dr. Devesh Singh, AKGEC, New Delhi (INDIA)
        </li>
        <li>
            Dr. Devpriya Soni, JIIT, Noida (India)
        </li>
        <li>
            Dr. Dharam Raj Kumar, Computer Application, DSPMU, Ranchi
        </li>
        <li>
            Dr. Dharmender Kumar, Guru Jambheshwar University, Hisar (INDIA)
        </li>
        <li>
            Dr. Dharmendra Chahar, Smt. K.D.G.D. Mittal Mahila (P.G.) Mahavidyalaya, Churu, Rajasthan (INDIA)
        </li>
        <li>
            Dr. Dharmendra Kumar Kanchan, Department of Mathematics and CA, Bundelkhand University, Jhansi
        </li>
        <li>
            Dr. Dharmendra Kumar Yadav, Ramanujan College, University of Delhi
        </li>
        <li>
            Dr. Dheeraj Joshi, Delhi Technological University, New Delhi (INDIA)
        </li>
        <li>
            Dr. Dheeraj Joshi, IEEE Member Delhi Technical University (DTU) Delhi India
        </li>
        <li>
            Dr. Diganta Sengupta, Meghnad Saha Institute of Technology
        </li>
        <li>
            Dr. Dilbag Singh, Dept. of CS, CDLU, Sirsa, Haryana
        </li>
        <li>
            Dr. Dilbag Singh, National Institute of Technology, Jalandhar
        </li>
        <li>
            Dr. Dilbag Singh, National Institute of Technology, Jalandhar, India
        </li>
        <li>
            Dr. Dilbag Singh, NIT Jalandhar Punjab, India
        </li>
        <li>
            Dr. Dileep Sign, Jagran Lakecity University, Bhopal
        </li>
        <li>
            Dr. Dilip Kumar Yadav, NIT Jamshedpur
        </li>
        <li>
            Dr. Dilip Senapati, Ravenshaw University, Odisha
        </li>
        <li>
            Dr. Dinesh, Deenbandhu Chhotu Ram University of Science & Tech Murthal (INDIA)
        </li>
        <li>
            Dr. Dinesh Gopalani, Malviya National Institute of Technology, Jaipur (INDIA)
        </li>
        <li>
            Dr. Dinesh Goyal, Suresh Gyan Vihar University, Jaipur Rajasthan
        </li>

        <li>Dr. Dinesh Kumar, Asstt. Prof., DCRUST, Murthal (INDIA)</li>
        <li>Dr. Dinesh Kumar, Jaipur National University, Jaipur Rajasthan</li>
        <li>Dr. Dinesh Sethi, JECRC University, Jaipur</li>
        <li>Dr. Dinesh Sharma, CCET, Chandigarh</li>
        <li>Dr. Dinesh Sharma, SVEC, Tadepalligudem</li>
        <li>Dr. Dinesh Singh, DCRUST, Murthal</li>
        <li>Dr. Divakar Yadav, Jaypee Institute of Information Technology, Noida</li>
        <li>Dr. Divya Midhunchakkaravarthy, Deputy Dean, Centre of Postgraduate Studies at Lincoln University College, Selangor, Malaysia</li>
        <li>Dr. Divyakant Meva, Marwadi University, Rajkot</li>
        <li>Dr. Divyakant Meva, MU, Rajkot</li>
        <li>Dr. Divyakanth Meva, Marwadi University, Rajkot (INDIA)</li>
        <li>Dr. Dong-Gi Kwag, Bulacan State University</li>
        <li>Dr. E. Elakiya, Vellore Institute of Technology, Chennai</li>
        <li>Dr. E. Kusuma Kumari, SVEC, Tadepalligudem</li>
        <li>Dr. E. Kusuma Kumari, SVEC, Tadepalligudem</li>
        <li>Dr. E. Kusuma Kumari, SVEC, Tadepalligudem.</li>
        <li>Dr. E. Sivasankar, National Institute of Technology, Trichy</li>
        <li>Dr. Eesha Shastri, ITS Dental College and Research Institute, Greater Noida, UP, India</li>
        <li>Dr. Emjee Puthroon, NIT Jallandhar</li>
        <li>Dr. Engr. Ahmed Muddassir Khan, Indus University, Karachi (Pakistan)</li>
        <li>Dr. Faheem A Reegu, Jizan University, KSA</li>
        <li>Dr. Faisal Karim Shaikh, Mehran University of Engineering &amp; Technology, Jamshoro, Pakistan</li>
        <li>Dr. Farheen Siddiqui, Assistant Professor, Department of CSE, FET, Jamia Hamdard University, New Delhi (INDIA)</li>
        <li>Dr. Faruk Kazi, VJTI, Mumbai</li>
        <li>Dr. Fazal Noor Basha, KL University, India</li>
        <li>Dr. Firdous Ahmad, SP College, Cluster University, Srinagar</li>
        <li>Dr. G. Annapoorani, University College of Engineering, Anna University, BIT Campus, Tiruchirapalli, Tamilnadu</li>
        <li>Dr. G. Arulkumaran, Bule Hora University</li>
        <li>Dr. G. Geetha, Lovely Professional University, Phagwara – 144411, Punjab, India</li>
        <li>Dr. G. Kousalya, Coimbatore Institute of Technology, Coimbatore</li>
        <li>Dr. G. Malathi, VIT University (INDIA)</li>
        <li>Dr. G. Padmavathi, Avinashilingam University, Coimbatore (INDIA)</li>
        <li>Dr. G. Pradeepini, K.L. University, Vijayawada (INDIA)</li>
        <li>Dr. G. R. Jainish, Loyola-ICAM College of Engineering and Technology, Chennai</li>
        <li>Dr. G. R. Mishra, Amity University, Lucknow</li>
        <li>Dr. G. Suvarna Kmar, MVGR College of Engineering, Andhra Pradesh</li>
        <li>Dr. G. Suvarna Kumar, MVGR Engineering College, Andhra Pradesh (INDIA)</li>
        <li>Dr. G. T. Prabavathi, Gobi Arts and Science College, Gobi (INDIA)</li>
        <li>Dr. G. Vasishta Bhargavi, RGMCET, Kurnool, A.P.</li>
        <li>Dr. G.P. Singh, Govt. Dungar College, Bikaner</li>
        <li>Dr. G.S. Bambra, Maharishi Markandeshwer University</li>

        <li>Dr. G.S. Bambra, Maharishi Markandeshwer University (INDIA)</li>
        <li>Dr. Gagan Varshney , IMS, Gaziabad</li>
        <li>Dr. Gagandeep Kaur, Guru Nanak College, Budhlada Punjab</li>
        <li>Dr. Gambhir Singh, Galgotias University, Noida</li>
        <li>Dr. Gambhir Singh, GNIOT, Greater Noida</li>
        <li>Dr. Ganesh Kumar, Faculty of Engineering , Christ University (INDIA)</li>
        <li>Dr. Gargi Khanna, NIT Hamirpur (INDIA)</li>
        <li>Dr. Garima Chopra, Indian Institute of Technology, Hyderabad</li>
        <li>Dr. Garima Malhotra, Noida International University, Gr. Noida (INDIA)</li>
        <li>Dr. Garima Shrivastava, AIACTR, Govt. of NCT of Delhi</li>
        <li>Dr. Garima Srivastava, AIACTR, Govt. of NCT of Delhi</li>
        <li>Dr. Gaurav Dhaiman, Government Bikram College of Commerce</li>
        <li>Dr. Gaurav Dubey, ABES, Ghaziabad</li>
        <li>Dr. Gaurav Dubey, KIET Ghaziabad</li>
        <li>Dr. Gaurav Dubey, KIET, Ghaziabad</li>
        <li>Dr. GAURAV GUPTA, Yogananda School of Artificial Intelligence Computer and Data Sciences, Shoolini University, Solan (H.P), INDIA</li>
        <li>Dr. Gaurav Kumar, Northern India Engineering College, New Delhi</li>
        <li>Dr. Gaurav Londhe, NMIMS University, Mumbai</li>
        <li>Dr. Gaurav Sharma, Amity University, Noida, UP (INDIA)</li>
        <li>Dr. Gaurav Sharma, Galgotia University</li>
        <li>Dr. Gaurav Sharma, Galgotias University, Gr. Noida (India)</li>
        <li>Dr. Gayadhar Panda, NIT Meghalaya, Meghalaya</li>
        <li>Dr. Gayadhar Panda, NIT Silchar (India)</li>


        <li>Dr. Jitender Kumar, Amity University, Noida, U.P. (INDIA)</li>
        <li>Dr. Jitender Kumar, Dronacharya College of Engineering, Gurgaon (INDIA)</li>
        <li>Dr. Jitender Kumar Chhabra, National institute of Technology (NIT), Kurukshetra</li>
        <li>Dr. Jitendra Kumar, NIT, Jamshedpur</li>
        <li>Dr. Jitendra Madarkar, NDS infoserv Mumbai</li>
        <li>Dr. Jitendra Sheetlani , CSE, SSSUTMS, Bhopal(INDIA)</li>
        <li>Dr. Jitendra Virmani, CSIO, Chandigarh</li>
        <li>Dr. Jitendraa Vashistt, Deptt. Of Biotechnology and Bioinformatics, Waknaghat, HP, India</li>
        <li>Dr. Jyoti Grover, Manipal University Jaipur</li>
        <li>Dr. Jyoti Madaan, MRIIRS, Faridabad</li>
        <li>Dr. Jyoti Pruthi, Assistant Professor, Manav Rachna University, Faridabad (INDIA)</li>
        <li>Dr. Jyoti Saxena, ECE Department, GZSCCET, Bathinda, Punjab, India</li>
        <li>Dr. Jyotsna Dongardive , UDCS, University of Mumbai (INDIA)</li>
        <li>Dr. Jyotsna Grover, Jamia Hamdard, Delhi (INDIA)</li>
        <li>Dr. K Bikshalu, Kakatiya University, AndhraPradesh</li>
        <li>Dr. K Hemant Ku. Reddy, NIST, Berhampur (INDIA)</li>
        <li>Dr. K Usha, SPMVV, Tirupati (INDIA)</li>
        <li>Dr. K. Dhivya, RMK College of Engineering and Technology, Chennai</li>
        <li>Dr. K. Hemant Kumar Reddy, VIT AP University</li>
        <li>Dr. K. L. Nisha, Amrita Vishwa Vidyapeetham, Amritapuri</li>
        <li>Dr. K. Manikanda Kumaran, E.G.S. Pillay Engineering College, Nagapattinam</li>
        <li>Dr. K. Muneeswaran, VIMTA labs Ltd. Covai, T.N. (INDIA)</li>
        <li>Dr. K. P. Jayant, Sky line Institute of Engineering & Technology, Gr. Noida (India)</li>
        <li>Dr. K. P. Lakshmi, B. M. S. College of Engineering (BMSCE), Bangalore, India</li>
        <li>Dr. K. P. Singh, E-Governance division ICAR, Krishi Bhawan, New Delhi (INDIA)</li>
        <li>Dr. K. Prabhakaran, Department of Business & Accounting, Muscat College, Soltanante of Oman</li>
        <li>Dr. K. Premalatha, Prince Venkateswara College of Engg., Chennai (INDIA)</li>
        <li>Dr. K. R. Manjula, Sastra University, Thanjavur (INDIA)</li>
        <li>Dr. K. Ramkumar, Chitkara University, Punjab (INDIA)</li>
        <li>Dr. K. Srinivasa Rao, Gayatri Vidya Parishad College of Engineering for Women, India</li>
        <li>Dr. K. Srinivasarao, MLR Institute of Technology, Hyderabad</li>
        <li>Dr. K. Suresh Babu, JNTU Hyderabad, Telangana, India</li>
        <li>Dr. K. Usha Rani, SPMVV, Tirupati</li>
        <li>Dr. K. Vanitha, Madanapalle Institute of Technology & Science, Andhra Pradesh</li>

    </ul>
</div>