

@{ Layout = "~/Views/Shared/Layoutweb.cshtml"; }

<link href="~/Content/style/style.css" rel="stylesheet" />



<div class="content-section col-md">
    <p> LoggedIn User </p>

    <a href="@Url.Action("EditProfile", "Member")">Edit Profile</a> <br />

    <a href="@Url.Action("SpecialSession2", "SpecialSession")">Special Session</a> <br />



    <a href="@Url.Action("Logout", "Account")" class="btn btn-warning" onclick="return confirm('Are you sure you want to logout?');">
        Logout
    </a>
</div>

