<p>ur logged in</p>

<a href="@Url.Action("EditProfile", "Member")">Edit Profile</a>


<a href="@Url.Action("Logout", "Account")" class="btn btn-warning" onclick="return confirm('Are you sure you want to logout?');">
    Logout
</a>


